<!-- Start Main Page -->
<div *ngIf="isMainPage">
    <!-- Start Holiday Checkbox -->
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        ทะเบียน / วันหยุด
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down mt-0">
            <div class="row">
                <div class="col l3 s12 p-0">
                    <ccb 
                        (cModel)="headerModel.Monday = $event"
                        [label]="'วันจันทร์'" 
                        [data]="headerModel.Monday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Tuesday = $event"
                        [label]="'วันอังคาร'" 
                        [data]="headerModel.Tuesday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Wednesday = $event"
                        [label]="'วันพุธ'"
                        [data]="headerModel.Wednesday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Thursday = $event"
                        [label]="'วันพฤหัสบดี'"
                        [data]="headerModel.Thursday">
                    </ccb>
                </div>
            </div>
            <div class="row">
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Friday = $event"
                        [label]="'วันศุกร์'"
                        [data]="headerModel.Friday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Saturday = $event"
                        [label]="'วันเสาร์'"
                        [data]="headerModel.Saturday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Sunday = $event"
                        [label]="'วันอาทิตย์'"
                        [data]="headerModel.Sunday">
                    </ccb>
                </div>
            </div>
            <div class="row">
                <div class="col l8 s12 p-0 mb-5px"></div>
                <div class="col l4 s12 p-0 text-right mb-5px">
                    <cbtn 
                        [label]="'อัพเดท'"
                        [color]="'blue'"
                        [icon]="'update'"
                        (click)="update()">
                    </cbtn>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only mt-0">
            <div class="row"></div>
        </div>
    </div>
    <!-- End Holiday Checkbox -->
    <!-- Holiday Table -->
    <div class="col s12">
        <div class="card-panel table-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        รายการข้อมูล
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel mt-0">
            <div class="overflow-x">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>วันที่</th>
                            <th>รายละเอียด</th>
                            <th>คำสั่ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listModel | 
                            paginate: { itemsPerPage: 10, currentPage: currentPage }; 
                            let idx = index">
                            <td class="min-width-100">
                                {{i.StrDate}}
                            </td>
                            <td class="min-width-100">
                                {{i.Description}}
                            </td>
                            <td class="min-width-100">
                                <a class="btn-floating blue cursor-pointer"
                                    (click)="setForm(i)">
                                    <i class="medium material-icons">edit</i>
                                </a>&nbsp;
                                <a class="btn-floating red cursor-pointer"
                                    (click)="delete(i)">
                                    <i class="medium material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <div class="col s6 mt-10px">
                            <cbtn
                                [label]="'สร้าง'"
                                [color]="'blue'"
                                [icon]="'add'"
                                (click)="addForm()">
                            </cbtn>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="text-right">
                        <pagination-controls
                            (pageChange)="currentPage = $event"
                            previousLabel="ก่อนหน้า" 
                            nextLabel="ถัดไป">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Holiday Table -->
</div>
<!-- End Main Page -->
<!-- *********************************************************************** -->
<!-- Start Form Page -->
<div *ngIf="isFormPage">
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        ทะเบียน / วันหยุด / รายละเอียด
                    </span>
                </div>
            </div>
        </div>
        <!-- Start Holiday Form -->
        <div class="card-panel hide-on-med-and-down mt-0">
            <div class="row">
                <div class="col l4 s12">
                    <citxt
                        (cModel)="headerModel.Id = $event"
                        [label]="'รหัสระบบ'"
                        [data]="headerModel.Id"
                        [readonly]="true">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 mtm-20">
                    <cdp
                        (cModel)="headerModel.StrDate = $event"
                        [label]="'*วันที่หยุด'"
                        [data]="headerModel.StrDate">
                    </cdp>
                </div>
                <div class="col l4 s12 mtm-20">
                    <citxt
                        (cModel)="headerModel.Description = $event"
                        [label]="'*รายละเอียด'"
                        [data]="headerModel.Description">
                    </citxt>
                </div>
            </div>
            <!-- End Holiday Form -->
            <!-- Start Save and Back Button-->
            <div class="row">
                <div class="col l4 s12 p-0 mb-5px"></div>
                <div class="col l4 s12 p-0 text-right mb-5px">
                    <cbtn 
                        [label]="'บันทึก'"
                        [color]="'blue'"
                        [icon]="'save'"
                        (click)="save()">
                    </cbtn>
                    <cbtn
                        [label]="'กลับ'"
                        [color]="'grey'"
                        [icon]="'keyboard_backspace'" 
                        (click)="back()">
                    </cbtn>
                </div>
            </div>
        </div>
        <!-- End Save and Back Button-->
    </div>
</div>
<!-- End Form Page -->