<div *ngIf="isMainPage">
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12 card-panel-header-label">
                    ทะเบียน / วันหยุด
                </div>
            </div>

        </div>
        <!-- [hidden]="isAdvanceSearch" -->
        <div class="card-panel hide-on-med-and-down reset-margin-top">
            <div class="row">

                <div class="col l3 s12 p-0">
                    <ccb 
                        (cModel)="headerModel.Monday = $event"
                        [label]="'วันจันทร์'" 
                        [data]="headerModel.Monday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Tuesday = $event"
                        [label]="'วันอังคาร'" 
                        [data]="headerModel.Tuesday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Wednesday = $event"
                        [label]="'วันพุธ'"
                        [data]="headerModel.Wednesday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Thursday = $event"
                        [label]="'วันพฤหัสบดี'"
                        [data]="headerModel.Thursday">
                    </ccb>
                </div>
            </div>

            <div class="row">
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Friday = $event"
                        [label]="'วันศุกร์'"
                        [data]="headerModel.Friday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Saturday = $event"
                        [label]="'วันเสาร์'"
                        [data]="headerModel.Saturday">
                    </ccb>
                </div>
                <div class="col l3 s12 p-0">
                    <ccb
                        (cModel)="headerModel.Sunday = $event"
                        [label]="'วันอาทิตย์'"
                        [data]="headerModel.Sunday">
                    </ccb>
                </div>
            </div>
            <div class="row">
                <div class="col l8 s12 p-0 margin-bottom-5"></div>
                <div class="col l4 s12 p-0 text-right margin-bottom-5">
                    <cbtn 
                        [label]="'อัพเดท'"
                        [color]="'blue'"
                        [icon]="'update'"
                        (click)="update()">
                    </cbtn>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only reset-margin-top">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l2 s12 card-panel-header-label">
                    รายการข้อมูล
                </div>
            </div>
        </div>
        <div class="card-panel reset-margin-top">
            <div class="overflow-x">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>วันที่</th>
                            <th>รายละเอียด</th>
                            <th>คำสั่ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listModel | paginate: { itemsPerPage: 10, currentPage: p };; let idx = index">
                            <td>
                                <div class="w100">
                                    {{i.StrDate}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Description}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    <a class="btn-floating blue cursor-pointer"
                                        (click)="readDetail(i)">
                                        <i class="medium material-icons">edit</i>
                                    </a> &nbsp;
                                    <a class="btn-floating red cursor-pointer"
                                        (click)="delete(i)">
                                        <i class="medium material-icons">delete</i>
                                    </a>

                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <div class="col s6 margin-top-10">
                            <cbtn
                                [label]="'สร้าง'"
                                [color]="'blue'"
                                [icon]="'add'"
                                (click)="add()">
                            </cbtn>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div style="text-align: right;">
                        <pagination-controls
                            (pageChange)="p = $event"
                            previousLabel="ก่อนหน้า" 
                            nextLabel="ถัดไป">
                        </pagination-controls>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div *ngIf="isFormPage">
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12 card-panel-header-label">
                    ทะเบียน / วันหยุด / รายละเอียด
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down reset-margin-top">

            <div class="row">
                <div class="col l4 s12">
                    <citxt
                        (cModel)="headerModel.Id = $event"
                        [label]="'รหัสระบบ'"
                        [data]="headerModel.Id"
                        [readonly]="true">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12  margin-top-mminus-20">
                    <cdp
                        (cModel)="headerModel.StrDate = $event"
                        [label]="'*วันที่หยุด'"
                        [data]="headerModel.StrDate">
                    </cdp>
                </div>
                <div class="col l4 s12 margin-top-mminus-20">
                    <citxt
                        (cModel)="headerModel.Description = $event"
                        [label]="'*รายละเอียด'"
                        [data]="headerModel.Description">
                    </citxt>
                </div>
            </div>
            <!-- Save and Back Button-->
            <div class="row">
                <div class="col l4 s12 p-0 margin-bottom-5"></div>
                <div class="col l4 s12 p-0 text-right margin-bottom-5">
                    <cbtn 
                        [label]="'บันทึก'"
                        [color]="'blue'"
                        [icon]="'save'"
                        (click)="save()">
                    </cbtn>
                    <cbtn
                        [label]="'กลับ'"
                        [color]="'grey'"
                        [icon]="'keyboard_backspace'" 
                        (click)="back()">
                    </cbtn>
                </div>
            </div>
        </div>
        <!-- End Save and Back Button-->
    </div>
</div>