<div>
    <table>
        <tr>
            <td>
                <p mat-dialog-title><i class="material-icons custom-button-icon">print</i> Print</p>
            </td>
            <td style="text-align: right; cursor: pointer;">
                <i class="material-icons custom-button-icon" (click)="cancel()">close</i>
            </td>
        </tr>
    </table>


</div>
<!-- style="min-height: 150px; max-height: 150px;" -->
<div mat-dialog-content>
    <!-- {{data.title}} <br> -->
    <!-- {{data.ReturnNo}} -->
    <!-- {{calPage}} -->
    <!-- <button style="background-color: transparent; border-width: 0px !important;" printSectionId="print-section" ngxPrint>
        <a class="btn waves-effect waves-light light-blue custom-button">Original</a>
    </button>
    <button style="background-color: transparent; border-width: 0px !important;" printSectionId="print-section2" ngxPrint>
        <a class="btn waves-effect waves-light red custom-button">Copy</a>
    </button> -->
    <cbtn [label]="'original'" [color]="'blue'" [icon]="''" (click)="okOriginal()"></cbtn>
    <cbtn [label]="'copy'" [color]="'red'" [icon]="''" (click)="okCopy()"></cbtn>
</div>
<!-- <div mat-dialog-actions>
    <cbtn [label]="'ยืนยัน'" [color]="'blue'" [icon]="''" (click)="ok()"></cbtn>
    <cbtn [label]="'ยกเลิก'" [color]="'red'" [icon]="''" (click)="cancel()"></cbtn>
</div> -->

<div class="display-none" id="print-section">
    <div *ngFor="let page of dataPage; let idxx = index; let last = last">
        <div style="text-align: right;">
            <p>Original ({{idxx+1}}/{{calPage}})</p>
        </div>
        <div style="text-align: right;">
            <p>Doc No. {{data.ReturnNo}}</p>
        </div>
        <div style="text-align: center;">
            <b>ใบกำกับการคืนเอกสาร (POD Return)</b>
        </div>
        <br>
        <div style="min-height: 430px;">
            <table style="width: 100%; font-size: 10px;">
                <tr style="border: 1px solid black;">
                    <th style="border: 1px solid black;">Seq</th>
                    <th style="border: 1px solid black;">Manifest No.</th>
                    <th style="border: 1px solid black;">SO No.</th>
                    <th style="border: 1px solid black;">Invoice No.</th>
                    <th style="border: 1px solid black;">Invoice Date</th>
                    <th style="border: 1px solid black;">Customer Name/ShipTo</th>
                    <th style="border: 1px solid black;">POD Return Date</th>
                </tr>
                <tr *ngFor="let i of page; let idx = index" style="border: 1px solid black;">
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 50px;">{{(idx + 1) + (idxx*10)}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px;">{{i.TransportNo}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px;">{{i.OrderNo}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px;">{{i.InvoiceNo}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 100px;">{{i.InvoiceDateStr}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 300px;">{{i.ShiptoName}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px;">{{i.OrderEstimate}}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="!last" style="min-height: 160px;"></div>
        <div *ngIf="last">
            <p>Special Instruction / Remark : ..........................................................................................................................</p>
            <p>...........................................................................................................................................................................</p>
        </div>
        <div *ngIf="last">
            <table style="width: 100%; border: 1px solid black;">
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black;">Googs Issue / Record by : <br><br><br> เจ้าหน้าที่ออกเอกสาร และผู้บันทึก</td>
                    <td style="border: 1px solid black;">Checker / Controller by : <br><br><br> เจ้าหน้าที่ตรวจสอบ/ควบคุม</td>
                    <td style="border: 1px solid black;">Proof of Delivery by : <br><br><br> เจ้าหน้าที่ธุรการ</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="display-none" id="print-section2">
    <div *ngFor="let page of dataPage; let idxx = index; let last = last">
        <div style="text-align: right;">
            <p>Copy ({{idxx+1}}/{{calPage}})</p>
        </div>
        <div style="text-align: right;">
            <p>Doc No. {{data.ReturnNo}}</p>
        </div>
        <div style="text-align: center;">
            <b>ใบกำกับการคืนเอกสาร (POD Return)</b>
        </div>
        <br>
        <div style="min-height: 430px;">
            <table style="width: 100%; font-size: 10px;">
                <tr style="border: 1px solid black;">
                    <th style="border: 1px solid black;">Seq</th>
                    <th style="border: 1px solid black;">Manifest No.</th>
                    <th style="border: 1px solid black;">SO No.</th>
                    <th style="border: 1px solid black;">Invoice No.</th>
                    <th style="border: 1px solid black;">Invoice Date</th>
                    <th style="border: 1px solid black;">Customer Name/ShipTo</th>
                    <th style="border: 1px solid black;">POD Return Date</th>
                </tr>
                <tr *ngFor="let i of page; let idx = index" style="border: 1px solid black;">
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 50px;">{{(idx + 1) + (idxx*10)}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px;">{{i.TransportNo}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px;">{{i.OrderNo}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px;">{{i.InvoiceNo}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 100px;">{{i.InvoiceDateStr}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 300px;">{{i.ShiptoName}}</td>
                    <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px;">{{i.OrderEstimate}}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="!last" style="min-height: 160px;"></div>
        <div *ngIf="last">
            <p>Special Instruction / Remark : ..........................................................................................................................</p>
            <p>...........................................................................................................................................................................</p>
        </div>
        <div *ngIf="last">
            <table style="width: 100%; border: 1px solid black;">
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black;">Googs Issue / Record by : <br><br><br> เจ้าหน้าที่ออกเอกสาร และผู้บันทึก</td>
                    <td style="border: 1px solid black;">Checker / Controller by : <br><br><br> เจ้าหน้าที่ตรวจสอบ/ควบคุม</td>
                    <td style="border: 1px solid black;">Proof of Delivery by : <br><br><br> เจ้าหน้าที่ธุรการ</td>
                </tr>
            </table>
        </div>
    </div>
</div>