<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content style="min-height: 300px; max-height: 300px;">
    <!-- <p *ngFor="let i of data.listData">
        {{i.PrjName}}
    </p> -->
    <div class="row">
        <div class="col l4 s12">
            <citxt (cModel)="criteriaModel.Fillter = $event" [label]="'Fillter'" [data]="criteriaModel.Fillter"></citxt>
        </div>
        <div class="col l4 s12 mtm-10">
            <ccb *ngIf="!data.IsHub" (cModel)="criteriaModel.IsHub = $event" [label]="'HUB'" [data]="criteriaModel.IsHub"></ccb>
        </div>
        <div class="col l4" *ngIf="isClear">
            <cbtnl [label]="'Clear'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtnl>
        </div>
        <div class="col l3 s12 p-0">
            <cbtnl [label]="'Find'" [color]="'blue'" [icon]="'search'" (click)="read()"></cbtnl>
        </div>
    </div>
    <table>
        <thead style="position: sticky; top: 0; background-color: white; z-index: 999;">
            <tr>
                <th>รหัส</th>
                <th>ชื่อ</th>
                <th>ที่อยู่</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of data.listData; let idx = index" (click)="ok(i)">
                <td>{{i.Code}}</td>
                <td>{{i.CustomerName}}</td>
                <td>{{i.Address}}</td>
            </tr>
        </tbody>
    </table>

</div>
<!-- <div mat-dialog-actions>
    <div class="col s6 m6 l12 text-center"></div>
    <div class="col s6 m6 l12 text-center">
        <a class="mb-6 btn blue lighten-1" style="margin-right: 10px;" (click)="ok()">ยืนยัน</a>
        <a class="mb-6 btn red lighten-1" (click)="cancel()">ยกเลิก</a>
    </div>
</div> -->