<!-- Start Order Main Page -->
<div *ngIf="isMainPage">
    <!-- Div for filter fix top. -->
    <div class="col s12 dfix">
        &nbsp;
    </div>
    <!-- Start Order Filter -->
    <div class="col s12 filter-fixed-top">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                            งานขนส่ง / สร้างงานขนส่ง
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down mt-0">
            <div class="row">
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.OrderNo = $event" [label]="'Doc No.'" [data]="criteriaModel.OrderNo">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.ShiptoDescription = $event" [label]="'ชื่อผู้รับ'" [data]="criteriaModel.ShiptoDescription" [readonly]="true" (click)="chooseShipToFilter()">
                    </citxt>
                </div>
                <div class="col l4 s12 pl-0">
                    <citxt (cModel)="criteriaModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="criteriaModel.ShiptoAddress" [readonly]="true" (click)="chooseShipToFilter()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.InvoiceNo = $event" [label]="'Invoice No.'" [data]="criteriaModel.InvoiceNo">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <cdp (cModel)="criteriaModel.OrderDateStart = $event" [label]="'วันที่เอกสาร'" [data]="criteriaModel.OrderDateStart">
                    </cdp>
                </div>
                <div class="col l4 s12 pl-0 mtm-20">
                    <cdp (cModel)="criteriaModel.OrderDateEnd = $event" [label]="'ถึงวันที่เอกสาร'" [data]="criteriaModel.OrderDateEnd">
                    </cdp>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.StatusDescription = $event" [label]="'สถานะบิล'" [data]="criteriaModel.StatusDescription" [readonly]="true" (click)="chooseStatusFilter()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <cdp (cModel)="criteriaModel.InvoiceDate = $event" [label]="'Invoice Date'" [data]="criteriaModel.InvoiceDate">
                    </cdp>
                </div>
                <div class="col l4 s12 pl-0 mtm-20">
                    <citxt (cModel)="criteriaModel.TransportDescription = $event" [label]="'บริษัทขนส่ง'" [data]="criteriaModel.TransportDescription" [readonly]="true" (click)="chooseTransportFilter()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.TransportOrderStatusDesc = $event" [label]="'สถานะงานขนส่ง'" [data]="criteriaModel.TransportOrderStatusDesc" [readonly]="true" (click)="chooseJobOrderStatus()">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l8 s12 p-0 mb-5px"></div>
                <div class="col l4 s12 p-0 text-right mb-5px">
                    <cbtn [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clearModel()">
                    </cbtn>
                    <cbtn [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="render('search')">
                    </cbtn>
                </div>
            </div>
        </div>

        <!-- Start Order Filter Mobile -->
        <div class="card-panel hide-on-large-only mt-0">
            <div class="row">
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.OrderNo = $event" [label]="'Doc No.'" [data]="criteriaModel.OrderNo">
                    </citxt>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.ShiptoDescription = $event" [label]="'ชื่อผู้รับ'" [data]="criteriaModel.ShiptoDescription" [readonly]="true" (click)="chooseShipToFilter()">
                    </citxt>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="criteriaModel.ShiptoAddress" [readonly]="true" (click)="chooseShipToFilter()">
                    </citxt>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.InvoiceNo = $event" [label]="'Invoice No.'" [data]="criteriaModel.InvoiceNo">
                    </citxt>
                </div>
                <div class="col s12">
                    <cdp (cModel)="criteriaModel.OrderDateStart = $event" [label]="'วันที่เอกสาร'" [data]="criteriaModel.OrderDateStart">
                    </cdp>
                </div>
                <div class="col s12">
                    <cdp (cModel)="criteriaModel.OrderDateEnd = $event" [label]="'ถึงวันที่เอกสาร'" [data]="criteriaModel.OrderDateEnd">
                    </cdp>
                </div>

                <div class="col s12">
                    <citxt (cModel)="criteriaModel.StatusDescription = $event" [label]="'สถานะบิล'" [data]="criteriaModel.StatusDescription" [readonly]="true" (click)="chooseStatusFilter()">
                    </citxt>
                </div>
                <div class="col s12">
                    <cdp (cModel)="criteriaModel.InvoiceDate = $event" [label]="'Invoice Date'" [data]="criteriaModel.InvoiceDate">
                    </cdp>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.TransportDescription = $event" [label]="'บริษัทขนส่ง'" [data]="criteriaModel.TransportDescription" [readonly]="true" (click)="chooseTransportFilter()">
                    </citxt>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.TransportOrderStatusDesc = $event" [label]="'สถานะงานขนส่ง'" [data]="criteriaModel.TransportOrderStatusDesc" [readonly]="true" (click)="chooseJobOrderStatus()">
                    </citxt>
                </div>
                <div class="col s12 p-0 mb-1">
                    <cbtnl [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clearModel()">
                    </cbtnl>
                </div>
                <div class="col s12 p-0">
                    <cbtnl [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="render('search')">
                    </cbtnl>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 top-310">
        <div class="card-panel table-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        ข้อมูล {{numberWithCommas(listModel.length)}} รายการ
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel mt-0px">
            <div class="overflow-x">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>Doc. No.</th>
                            <th>เลขที่ Inv.</th>
                            <th>สถานะบิล</th>
                            <th>สถานะขนส่ง</th>
                            <th>Doc. Type</th>
                            <th>Doc. Date</th>
                            <th>PO</th>
                            <th>บริษัทขนส่ง</th>
                            <th>Cus Code</th>
                            <th>Ship To</th>
                            <th>ที่อยู่ผู้รับ</th>
                            <th>Invoice Date</th>
                            <th>Appt. Date</th>
                            <th>CBM</th>
                            <th>Carton</th>
                            <th>Weight</th>
                            <th>หมายเหตุ</th>
                            <th>คำสั่ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listModel | paginate: 
                                { itemsPerPage: 10, currentPage: currentPage }; 
                                let idx = index">
                            <td class="min-width-100">
                                <a class="cursor-pointer" (click)="setForm(i)">{{i.OrderNo}}
                                </a>
                            </td>
                            <td class="min-width-100">
                                <a class="cursor-pointer" (click)="setForm(i)">{{i.InvoiceNo}}
                                </a>
                            </td>
                            <td class="min-width-100">
                                <div class="status-box {{statusOrderClassify(i.OrderStatus)}}">
                                    {{i.OrderStatusDesc}}
                                </div>
                            </td>
                            <td class="min-width-100">
                                <div class="status-box {{statusTransportColorClassiyf(i.TransportOrderStatus)}}">
                                    {{i.TransportOrderStatusDesc}}
                                </div>
                            </td>
                            <td class="min-width-100">
                                {{i.OrderType}}
                            </td>
                            <td class="min-width-100">
                                {{i.OrderDateStr}}
                            </td>
                            <td class="min-width-100">
                                {{i.PurchaseNo}}
                            </td>
                            <td class="min-width-300">
                                {{i.Transport}}
                            </td>
                            <td class="min-width-100">
                                {{i.ShiptoCode}}
                            </td>
                            <td class="min-width-300">
                                {{i.ShiptoName}}
                            </td>
                            <td class="min-width-300">
                                {{i.Address}}
                            </td>
                            <td class="min-width-100">
                                {{i.InvoiceDateStr}}
                            </td>
                            <td class="min-width-150">
                                {{i.OrderEstimateStr}}
                            </td>
                            <td class="min-width-100">
                                {{i.CBM}}
                            </td>
                            <td class="min-width-100">
                                {{i.Qty}}
                            </td>
                            <td class="min-width-100">
                                {{i.Weight}}
                            </td>
                            <td class="min-width-250">
                                {{i.Comment}}
                            </td>
                            <td class="min-width-150">
                                <a class="btn-floating blue cursor-pointer" (click)="setForm(i)">
                                    <i class="medium material-icons">edit</i>
                                </a>&nbsp;
                                <a class="btn-floating red cursor-pointer" (click)="delete(i)">
                                    <i class="medium material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <!-- <div class="col s4">
                    <ul>
                        <li>จำนวนทั้งหมด {{numberWithCommas(listModel.length)}}</li>
                    </ul>
                </div> -->
                <div class="col s2 mt-10px">
                    <cbtn [label]="'สร้าง'" [color]="'blue'" [icon]="'add'" (click)="addForm()">
                    </cbtn>
                </div>
                <div class="col s2 mt-10px">
                    <cbtn [label]="'อัพโหลดไฟล์'" [color]="'green'" [icon]="'file_upload'" (click)="upload()">
                    </cbtn>
                </div>
                <div class="col s8">
                    <div class="text-right">
                        <pagination-controls (pageChange)="currentPage = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isFormPage">
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="col l8 s12 card-panel-header-span">
                        งานขนส่ง / สร้างงานขนส่ง
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down mt-0">
            <div class="row">
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="headerModel.OrderNo = $event" [label]="'Doc No.'" [data]="headerModel.OrderNo" [readonly]="true">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.InvoiceNo = $event" [label]="'** Invoice No.'" [data]="headerModel.InvoiceNo">
                    </citxt>
                </div>
                <div class="col l2 s12 p-0 mtm-20">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.Comment = $event" [label]="'หมายเหตุ'" [data]="headerModel.Comment">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <cdp (cModel)="headerModel.OrderDate = $event" [label]="'** วันที่เอกสาร'" [data]="headerModel.OrderDate"></cdp>
                </div>
                <div class="col l2 s12 p-0 mtm-20">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.ReferenceNo = $event" [label]="'Reference No.'" [data]="headerModel.ReferenceNo">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.OrderTypeDescription = $event" [label]="'** ประเภทเอกสาร'" [data]="headerModel.OrderTypeDescription" [readonly]="true" (click)="chooseJobType()">
                    </citxt>
                </div>
                <div class="col l2 s12 p-0 mtm-20">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.PurchaseNo = $event" [label]="'PO No.'" [data]="headerModel.PurchaseNo">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <cdp (cModel)="headerModel.OrderEstimate = $event" [label]="'** Appt. Date'" [data]="headerModel.OrderEstimate"></cdp>
                </div>
                <div class="col l2 s12 p-0 mtm-20">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.Qty = $event" [label]="'Carton'" [data]="headerModel.Qty">
                    </citxt>
                </div>

            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <!-- <citxt (cModel)="headerModel.OwnerDescription = $event" [label]="'** เจ้าของงาน'" [data]="headerModel.OwnerDescription" [readonly]="true" (click)="chooseOwner()">
                    </citxt> -->
                    <citxt (cModel)="headerModel.ShiptoDescription = $event" [label]="'** สถานที่ส่งสินค้า'" [data]="headerModel.ShiptoDescription" [readonly]="true" (click)="chooseShipTo()">
                    </citxt>
                </div>
                <div class="col l2 s12 p-0 mtm-20">
                    <h1>&nbsp;</h1>
                </div>

                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.UoM = $event" [label]="'UoM'" [data]="headerModel.UoM">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.ShiptoMobile = $event" [label]="'โทรศัพท์สถานที่ส่งสินค้า'" [data]="headerModel.ShiptoMobile" [readonly]="true" (click)="chooseShipTo()">
                    </citxt>
                </div>
                <div class="col l2 s12 p-0 mtm-20">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.CBM = $event" [label]="'CBM'" [data]="headerModel.CBM">
                    </citxt>
                </div>

            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <cdp (cModel)="headerModel.InvoiceDate = $event" [label]="'** Invoice Date'" [data]="headerModel.InvoiceDate"></cdp>
                </div>
                <div class="col l2 s12 p-0 mtm-20">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.Weight = $event" [label]="'Weight'" [data]="headerModel.Weight">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <ctxta (cModel)="headerModel.ShiptoAddress = $event" [label]="'** ที่อยู่ผู้รับ'" [data]="headerModel.ShiptoAddress" (click)="chooseShipTo()">
                    </ctxta>
                </div>
                <div class="col l2 s12 p-0 mtm-20">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.TransportDescription = $event" [label]="'** บริษัทขนส่ง'" [data]="headerModel.TransportDescription" [readonly]="true" (click)="chooseTransport()">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    
                </div>
            </div>



            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.RouteDescription = $event" [label]="'** เส้นทางหลัก'" [data]="headerModel.RouteDescription" [readonly]="true" (click)="chooseRoute()">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mtm-20">
                    <citxt (cModel)="headerModel.SubRouteDescription = $event" [label]="'** เส้นทางย่อย'" [data]="headerModel.SubRouteDescription" [readonly]="true" (click)="chooseSubRoute()">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0 mb-5px"></div>
                <div class="col l4 s12 p-0 text-right mb-5px">
                    <cbtn [label]="'บันทึก'" [color]="'blue'" [icon]="'save'" (click)="save()">
                    </cbtn>
                    <cbtn [label]="'กลับ'" [color]="'grey'" [icon]="'keyboard_backspace'" (click)="backToMainPage()">
                    </cbtn>
                </div>
            </div>
        </div>
    </div>