<div class="col l4 s4 text-right input-label">
    <label>{{label}}</label>
</div>
<div class="col l8 s8 p-0 pl-2" *ngIf="!readonly">
    <div class="input-field">
        <input class="validate input-not-readonly"
            [(ngModel)]="data"
            (ngModelChange)="emit($event)"
            name="data"
            id="data" 
            type="{{type}}"
            [disabled]="readonly">
        <!-- <label for="data" [ngClass]="{ 'active': data != '' }">{{label}}</label> -->
    </div>
</div>
<div class="col l8 s8 p-0 pl-2" *ngIf="readonly">
    <div class="input-field">
        <input class="validate input-readonly"
            [(ngModel)]="data" 
            (ngModelChange)="emit($event)" 
            name="data" 
            id="data" 
            type="{{type}}" 
            [disabled]="readonly">
        <!-- <label for="data" [ngClass]="{ 'active': data != '' }">{{label}}</label> -->
    </div>
</div>