<!-- Start Transport Main Page. -->
<div *ngIf="isMainPage">
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        งานขนส่ง / ติดตามสถานะ
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down mt-0">
            <div class="row">
                <div class="col l3 s12 p-0">
                    <cdp (cModel)="criteriaModelStatus.startDate = $event" [label]="'เลือกช่วงเวลา'" [data]="criteriaModelStatus.startDate">
                    </cdp>
                </div>
                <div class="col l3 s12 p-0">
                    <cdp (cModel)="criteriaModelStatus.endDate = $event" [label]="'จนถึง'" [data]="criteriaModelStatus.endDate">
                    </cdp>
                </div>
                <div class="col l2 s12 ms-2">
                    <cbtn [label]="'เรียกดู'" [color]="'blue'" [icon]="''" (click)="readAll()">
                    </cbtn>
                </div>
            </div>
            <div class="row">
                <div class="col l12">
                    <div class="col l3 s12 p-0 mtm-20">
                        <ccb (cModel)="timerModel.autoRefresh = $event" [data]="timerModel.autoRefresh" [label]="'Auto Refresh'" (change)="autoRefresh()"></ccb>
                    </div>
                    <div class="col l3 s12 p-0 mtm-10">
                        <citxt [class]="'text-center'" (cModel)="timerModel.displayMinute = $event" [label]="'เวลา'" [data]="timerModel.displayMinute" [readonly]="timerModel.autoRefresh"></citxt>
                    </div>
                    <div class="col l4 s12 mt-10px"> นาที &nbsp; {{ showNextTime }}</div>
                </div>
            </div>
            <div class="row">
                <!-- {{listModel|json}} -->
                <!-- รอจัดใบคุมรถ -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[0].Code)">
                    <div class="card-panel wait-driver-license cursor-pointer">
                        <i class="material-icons">
                            event_note
                        </i>
                        <br>
                        <p>{{listModel[0].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[0].NumStatus)}}</p>
                    </div>
                </div>

                <!-- รออนุมัติงาน -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[1].Code)">
                    <div class="card-panel pending-approval cursor-pointer">
                        <i class="material-icons">
                            event_note
                        </i>
                        <br>
                        <p>{{listModel[1].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[1].NumStatus)}}</p>
                    </div>
                </div>

                <!-- รอคนขับรับงาน -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[2].Code)">
                    <div class="card-panel wait-driver-receiving cursor-pointer">
                        <i class="material-icons">
                            record_voice_over
                        </i>
                        <br>
                        <p>{{listModel[2].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[2].NumStatus)}}</p>
                    </div>
                </div>

                <!-- ระหว่างรับสินค้า -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[3].Code)">
                    <div class="card-panel during-receiving cursor-pointer">
                        <i class="material-icons">
                            local_shipping
                        </i>
                        <br>
                        <p>{{listModel[3].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[3].NumStatus)}}</p>
                    </div>
                </div>

                <!-- ระหว่างจัดส่งสินค้า -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[4].Code)">
                    <div class="card-panel cursor-pointer" style="height: 120px; margin-right: 10px; background-color: #E7E884;">
                        <i class="material-icons">
                            local_shipping
                        </i>
                        <br>
                        <p>{{listModel[4].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[4].NumStatus)}}</p>
                    </div>
                </div>

                <!-- จัดส่งสินค้าสำเร็จ -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[5].Code)">
                    <div class="card-panel cursor-pointer" style="height: 120px; margin-right: 10px; background-color: #79D58B;">
                        <i class="material-icons">
                            local_shipping
                        </i>
                        <br>
                        <p>{{listModel[5].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[5].NumStatus)}}</p>
                    </div>
                </div>

                <!-- คนขับคืนบิลเสร็จสิ้น -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[7].Code)">
                    <div class="card-panel cursor-pointer" style="height: 120px; margin-right: 10px; background-color: #70D58B;">
                        <i class="material-icons">
                            content_copy
                        </i>
                        <br>
                        <p>{{listModel[7].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[7].NumStatus)}}</p>
                    </div>
                </div>

                <!-- คืนบิลเสร็จสิ้น -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[8].Code)">
                    <div class="card-panel cursor-pointer" style="height: 120px; margin-right: 10px; background-color: #66A5D9;">
                        <i class="material-icons">
                            content_copy
                        </i>
                        <br>
                        <p>{{listModel[8].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[8].NumStatus)}}</p>
                    </div>
                </div>

                <!-- สินค้าอยู่ที่ HUB -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[9].Code)">
                    <div class="card-panel cursor-pointer" style="height: 120px; margin-right: 10px; background-color: #66A5D9;">
                        <i class="material-icons">
                            event_busy
                        </i>
                        <br>
                        <p>{{listModel[9].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[9].NumStatus)}}</p>
                    </div>
                </div>

                <!-- จัดส่งสินค้าไม่สำเร็จ -->
                <div class="col l1 s12 p-0 text-center" (click)="readByStatus(listModel[6].Code)">
                    <div class="card-panel cursor-pointer" style="height: 120px; margin-right: 10px; background-color: #EBB146;">
                        <i class="material-icons">
                            local_shipping
                            </i>
                        <br>
                        <p>{{listModel[6].Description}}</p>
                        <p class="fs-20-w-700">{{numberWithCommas(listModel[6].NumStatus)}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.TransportNo = $event" [label]="'เลขที่ใบคุม'" [data]="criteriaModel.TransportNo" [readonly]="true" (click)="chooseTransportNo()">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.ShiptoDescription = $event" [label]="'ชื่อผู้รับ'" [data]="criteriaModel.ShiptoDescription" [readonly]="true" (click)="chooseShipTo()">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'Route'" [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseRoute()">
                    </citxt>
                </div>
                <div class="col l3 s12 pl-0">
                    <cdp (cModel)="criteriaModel.OrderEstimate = $event" [label]="'Appt. Date'" [data]="criteriaModel.OrderEstimate">
                    </cdp>
                </div>
            </div>
            <div class="row">
                <div class="col l3 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.InvoiceNo = $event" [label]="'เลขที่อินวอยน์'" [data]="criteriaModel.InvoiceNo">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.VehicleDescription = $event" [label]="'ทะเบียนรถ'" [data]="criteriaModel.VehicleDescription" [readonly]="true" (click)="chooseVehicle()">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.DriverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.DriverDescription" [readonly]="true" (click)="chooseDriver()">
                    </citxt>
                </div>
                <div class="col l3 s12 pl-0  mtm-20">
                    <citxt (cModel)="criteriaModel.TransportTypeDescription = $event" [label]="'Type of Work'" [data]="criteriaModel.TransportTypeDescription" [readonly]="true" (click)="chooseTypeOfWork()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l3 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.JobOrderStatusDescription = $event" [label]="'สถานะงานขนส่ง'" [data]="criteriaModel.JobOrderStatusDescription" [readonly]="true" (click)="chooseJobOrderStatus()">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.transportstatusDescription = $event" [label]="'สถานะใบคุม'" [data]="criteriaModel.transportstatusDescription" [readonly]="true" (click)="chooseStatus()">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.TransportDescription = $event" [label]="'บริษัทขนส่ง'" [data]="criteriaModel.TransportDescription" [readonly]="true" (click)="chooseTransportFilter()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l12 p-0 text-right mb-5px">
                    <cbtn [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()">
                    </cbtn>
                    <cbtn [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="read('search')">
                    </cbtn>
                </div>
            </div>
        </div>
    </div>
    <div class="card-panel hide-on-large-only mt-0">
        <div class="row">
            <div class="col s12">
                <citxt (cModel)="criteriaModel.TransportNo = $event" [label]="'เลขที่ใบคุม'" [data]="criteriaModel.TransportNo" [readonly]="true" (click)="chooseTransportNo()">
                </citxt>
            </div>
            <div class="col s12 margin-top-mminus-10">
                <citxt (cModel)="criteriaModel.shipToDescription = $event" [label]="'ชื่อผู้รับ'" [data]="criteriaModel.shipToDescription" [readonly]="true" (click)="chooseShipTo()">
                </citxt>
            </div>
            <div class="col s12 margin-top-mminus-10">
                <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'Route'" [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseRoute()">
                </citxt>
            </div>
            <div class="col s12 margin-top-mminus-10">
                <cdp (cModel)="criteriaModel.OrderEstimate = $event" [label]="'Appt. Date'" [data]="criteriaModel.OrderEstimate">
                </cdp>
            </div>
            <div class="col s12 mt-10px">
                <citxt (cModel)="criteriaModel.VehicleDescription = $event" [label]="'ทะเบียนรถ'" [data]="criteriaModel.VehicleDescription" [readonly]="true" (click)="chooseVehicle()">
                </citxt>
            </div>
            <div class="col s12 margin-top-mminus-10">
                <citxt (cModel)="criteriaModel.DriverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.DriverDescription" [readonly]="true" (click)="chooseDriver()">
                </citxt>
            </div>
            <div class="col s12 margin-top-mminus-10">
                <citxt (cModel)="criteriaModel.transportstatusDescription = $event" [label]="'สถานะใบคุม'" [data]="criteriaModel.transportstatusDescription" [readonly]="true" (click)="chooseStatus()">
                </citxt>
            </div>
            <div class="col s12 margin-top-mminus-10">
                <citxt (cModel)="criteriaModel.TransportTypeDescription = $event" [label]="'Type of Work'" [data]="criteriaModel.TransportTypeDescription" [readonly]="true" (click)="chooseTypeOfWork()">
                </citxt>
            </div>

            <div class="col s12 margin-top-mminus-10">
                <citxt (cModel)="criteriaModel.JobOrderStatusDescription = $event" [label]="'สถานะงานขนส่ง'" [data]="criteriaModel.JobOrderStatusDescription" [readonly]="true" (click)="chooseJobOrderStatus()">
                </citxt>
            </div>

            <div class="col s12 p-0 mb-5px">
                <cbtnl [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtnl>
            </div>
            <div class="col s12 p-0 mb-5px">
                <cbtnl [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="read('search')"></cbtnl>
            </div>
        </div>
    </div>

    <!-- {{this.viewModel|json}} -->
    <div class="col s12">
        <div class="card-panel table-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <!-- <span class="card-panel-header-span">
                        รายการข้อมูล
                    </span> -->

                    <label class="table-panel-header-span">
                        ข้อมูล {{numberWithCommas(viewModel2.length)}} รายการ
                    </label>
                </div>
            </div>
        </div>
        <div class="card-panel mt-0">
            <div style="overflow-x: auto;">
                <!-- min-height: 200px; max-height: 200px; -->
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <!-- <th>
                                <span class="header-checkbox">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="itemSelected"
                                            (change)="checkUncheckAll()" />
                                        <span style="padding-left: 20px;"></span>
                                </label>
                                </span>
                            </th> -->
                            <!-- <th></th> -->
                            <th>Shipment No.</th>
                            <th>ใบคุมรถ</th>
                            <th>เลขที่อินวอยน์</th>
                            <th>สถานะใบคุม</th>
                            <th>สถานะงานขนส่ง</th>
                            <th>Doc Type</th>
                            <th>Doc No.</th>
                            <th>PO</th>
                            <th>บริษัทขนส่ง</th>
                            <th>Cus Code</th>
                            <th>ShipTp</th>
                            <th>ที่อยู่ผู้รับ</th>
                            <th>Route</th>
                            <th>Invoice Date</th>
                            <th>Appt. Date</th>
                            <th>CBM</th>
                            <th>Carton</th>
                            <th>Weight(kg.)</th>
                            <th>สาเหตุการปิดงาน</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of viewModel2 | paginate: { itemsPerPage: 10, currentPage: p };; let idx = index">
                            <td class="min-width-100">
                                <a style="cursor: pointer;" (click)="readDetail(i)">{{i.ShipmentNo}}</a>
                            </td>
                            <td class="min-width-100">
                                <a style="cursor: pointer;" (click)="readDetail(i)">{{i.TransportNo}}</a>

                            </td>
                            <td class="min-width-100">
                                {{i.InvoiceNo}}
                            </td>
                            <td style="padding: 0 0 0 0 !important;">
                                <div class="w100" style="background-color: {{statusTransportColor(i.TransportStatus)}}; height: 42px; padding-top: 10px;">
                                    {{i.TransportStatusDesc}}
                                </div>
                            </td>
                            <td style="padding: 0 0 0 0 !important;">
                                <div class="w100" style="background-color: {{statusOrderColor(i.OrderStatus)}}; height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>
                            </td>

                            <td class="min-width-100">
                                {{i.OrderType}}
                            </td>
                            <td class="min-width-100">
                                {{i.OrderNo}}
                            </td>
                            <td class="min-width-100">
                                {{i.PurchaseNo}}
                            </td>
                            <td class="min-width-300">
                                {{i.Transport}}
                            </td>
                            <td class="min-width-100">
                                {{i.ShiptoCode}}
                            </td>
                            <td>
                                <div class="w300">
                                    {{i.ShiptoName}}
                                </div>
                            </td>
                            <td>
                                <div class="w600">
                                    {{i.ShiptoAdress}}
                                </div>
                            </td>
                            <td>
                                <div class="w200">
                                    {{i.Route}}
                                </div>
                            </td>
                            <td class="min-width-100">
                                {{i.InvoiceDateStr}}
                            </td>
                            <td class="min-width-100">
                                {{i.OrderEstimateStr}}
                            </td>
                            <td class="min-width-100">
                                {{i.CBM}}
                            </td>
                            <td class="min-width-100">
                                {{i.Qty}}
                            </td>
                            <td class="min-width-100">
                                {{i.Weight}}
                            </td>
                            <td class="min-width-150">
                                {{i.ReasonClose}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col s6">
                    <!-- <div class="row">
                        <div class="col s6" style="margin-top: 10px;">
                            <cbtn 
                            [label]="'ดำเนินการต่อ'"
                            [color]="'blue'"
                            [icon]="''" 
                            (click)="next()">
                        </cbtn>
                        </div>
                    </div> -->

                    <!-- <ul>
                        <li>จำนวนทั้งหมด {{numberWithCommas(viewModel2.length)}}</li>
                    </ul> -->
                </div>
                <div class="col s6">
                    <div class="text-right">
                        <!-- <ul>
                            <li *ngFor="let item of listModel | paginate: { itemsPerPage: 10, currentPage: p }">{{item}}</li>
                        </ul> -->
                        <pagination-controls (pageChange)="p = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isFormPage">
    <!-- Div for filter fix top. -->
    <div class="col s12 dfix">
        &nbsp;
    </div>
    <div class="col s12 filter-fixed-top">

        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        งานขนส่ง / ติดตามสถานะ / รายละเอียด
                    </span>
                </div>
            </div>

        </div>
        <!-- [hidden]="isAdvanceSearch" -->
        <!-- {{headerModel|json}} -->

        <div class="card-panel hide-on-med-and-down mt-0">
            <div class="row">
                <div class="col l8">
                    <div class="row">
                        <div class="col l5 s12 p-0">
                            <citxt (cModel)="headerModel.ShipmentNo = $event" [label]="'Shipment No.'" [data]="headerModel.ShipmentNo" [readonly]="true">
                            </citxt>
                        </div>

                        <div class="col l5 s12 p-0">
                            <citxt (cModel)="headerModel.TransportNo = $event" [label]="'Transport No.'" [data]="headerModel.TransportNo" [readonly]="true">
                            </citxt>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.InvoiceNo = $event" [label]="'Invoice No.'" [data]="headerModel.InvoiceNo">
                            </citxt>
                        </div>
                        <!-- <div class="col l2 s12 p-0" style="margin-top: -20px;">
                            <h1>&nbsp;</h1>
                        </div> -->
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.Route = $event" [label]="'เส้นทางหลัก'" [data]="headerModel.Route" [readonly]="true">
                            </citxt>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col l5 s12 p-0 mtm-20">
                            <cdp (cModel)="headerModel.OrderDate = $event" [label]="'วันที่เอกสาร'" [data]="headerModel.OrderDate">
                            </cdp>
                        </div>
                        <!-- <div class="col l2 s12 p-0" style="margin-top: -20px;">
                            <h1>&nbsp;</h1>
                        </div> -->
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.SubRoute = $event" [label]="'เส้นทางย่อย'" [data]="headerModel.SubRoute" [readonly]="true">
                            </citxt>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.OrderType = $event" [label]="'ประเภทเอกสาร'" [data]="headerModel.OrderType" [readonly]="true">
                            </citxt>
                        </div>
                        <!-- <div class="col l2 s12 p-0" style="margin-top: -20px;">
                            <h1>&nbsp;</h1>
                        </div> -->
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.OrderNo = $event" [label]="'Doc No.'" [data]="headerModel.OrderNo">
                            </citxt>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l5 s12 p-0 mtm-20">
                            <cdp (cModel)="headerModel.OrderEstimate = $event" [label]="'Appt. Date'" [data]="headerModel.OrderEstimate">
                            </cdp>
                        </div>
                        <!-- <div class="col l2 s12 p-0" style="margin-top: -20px;">
                            <h1>&nbsp;</h1>
                        </div> -->
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.PurchaseNo = $event" [label]="'PO No.'" [data]="headerModel.PurchaseNo">
                            </citxt>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.OwnerDescription = $event" [label]="'ผู้ส่ง'" [data]="headerModel.OwnerDescription" [readonly]="true">
                            </citxt>
                        </div>
                        <!-- <div class="col l2 s12 p-0" style="margin-top: -20px;">
                            <h1>&nbsp;</h1>
                        </div> -->
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.CBM = $event" [label]="'CBM'" [data]="headerModel.CBM">
                            </citxt>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.ShiptoDescription = $event" [label]="'ผู้รับ'" [data]="headerModel.ShiptoDescription" [readonly]="true">
                            </citxt>
                        </div>
                        <!-- <div class="col l2 s12 p-0" style="margin-top: -20px;">
                            <h1>&nbsp;</h1>
                        </div> -->
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.Qty = $event" [label]="'Carton'" [data]="headerModel.Qty">
                            </citxt>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.ShiptoMobile = $event" [label]="'โทรศัพท์ผู้รับ'" [data]="headerModel.ShiptoMobile" [readonly]="true">
                            </citxt>
                        </div>
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.Weight = $event" [label]="'Weight'" [data]="headerModel.Weight">
                            </citxt>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l5 s12 p-0 mtm-20">
                            <citxt (cModel)="headerModel.ShiptoAdress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="headerModel.ShiptoAdress" [readonly]="true">
                            </citxt>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="timeline-wrapper">
                        <ul class="StepProgress">
                            <!-- {{timelineModel|json}} -->

                            <li class="StepProgress-item" [ngClass]="{'is-done': timelineModel.ApproveDate != null}">
                                <div class="bold time">พนักงานขับรถรับงาน</div>
                                <div *ngIf="timelineModel.ReceiveJobDate != null" class="bold">{{formatDateTime(timelineModel.ReceiveJobDate)}}</div>
                                <div *ngIf="timelineModel.ReceiveJobDate == null" class="bold">-</div>
                                <!-- <div>ApproveProcess</div> -->
                            </li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': timelineModel.ReceiveCheckInDate != null}">
                                <div class="bold time">รับสินค้า</div>
                                <div *ngIf="timelineModel.ReceiveCheckInDate != null" class="bold">{{formatDateTime(timelineModel.ReceiveCheckInDate)}}</div>
                                <div *ngIf="timelineModel.ReceiveCheckInDate == null" class="bold">-</div>
                                <!-- <div>RecieveProcess</div> -->
                            </li>
                            <!-- current -->
                            <li class="StepProgress-item" [ngClass]="{'is-done': timelineModel.ReceiveCheckOutDate != null}">
                                <div class="bold time">ระหว่างการขนส่ง</div>
                                <div *ngIf="timelineModel.ReceiveCheckOutDate != null" class="bold">{{formatDateTime(timelineModel.ReceiveCheckOutDate)}}</div>
                                <div *ngIf="timelineModel.ReceiveCheckOutDate == null" class="bold">-</div>
                                <!-- <div>DeliveryProcess</div> -->
                            </li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': timelineModel.AdminReturnHubDate != null}">
                                <div class="bold time">ระหว่างการขนส่งพัสดุถึงสาขา</div>
                                <div *ngIf="timelineModel.AdminReturnHubDate != null" class="bold">{{formatDateTime(timelineModel.AdminReturnHubDate)}}</div>
                                <div *ngIf="timelineModel.AdminReturnHubDate == null" class="bold">-</div>
                                <!-- <div>DocReturnProcess</div> -->
                            </li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': timelineModel.DeliveryCheckOutDate != null}">
                                <div class="bold time">ส่งสินค้าค้างสำเร็จ</div>
                                <div *ngIf="timelineModel.DeliveryCheckOutDate != null" class="bold">{{formatDateTime(timelineModel.DeliveryCheckOutDate)}}</div>
                                <div *ngIf="timelineModel.DeliveryCheckOutDate == null" class="bold">-</div>
                                <!-- <div>DocReturnProcess</div> -->
                            </li>
                            <!-- <li class="StepProgress-item" [ngClass]="{'is-done': timelineModel.DeliveryCheckInDate != null}">
                                <div class="bold time">ระหว่างลงสินค้า</div>
                                <div *ngIf="timelineModel.DeliveryCheckInDate != null" class="bold">{{formatDateTime(timelineModel.DeliveryCheckInDate)}}</div>
                                <div *ngIf="timelineModel.DeliveryCheckInDate == null" class="bold">-</div>
                                <div>DocReturnProcess</div>
                            </li> -->
                            <li class="StepProgress-item" [ngClass]="{'is-done': timelineModel.DriverReturnDate != null}">
                                <div class="bold time">พนักงานขับรถคืนบิล</div>
                                <div *ngIf="timelineModel.DriverReturnDate != null" class="bold">{{formatDateTime(timelineModel.DriverReturnDate)}}</div>
                                <div *ngIf="timelineModel.DriverReturnDate == null" class="bold">-</div>
                                <!-- <div>DocReturnProcess</div> -->
                            </li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': timelineModel.AdminReturnDate != null}">
                                <div class="bold time">พนักงานธุรการคืนบิล</div>
                                <div *ngIf="timelineModel.AdminReturnDate != null" class="bold">{{formatDateTime(timelineModel.AdminReturnDate)}}</div>
                                <div *ngIf="timelineModel.AdminReturnDate == null" class="bold">-</div>
                                <!-- <div>DocReturnProcess</div> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only">
            <div class="row">
                <div class="col s12">
                    <citxt (cModel)="headerModel.ShipmentNo = $event" [label]="'Shipment No.'" [data]="headerModel.ShipmentNo" [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.InvoiceNo = $event" [label]="'Invoice No.'" [data]="headerModel.InvoiceNo">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.Comment = $event" [label]="'หมายเหตุ'" [data]="headerModel.Comment">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <cdp (cModel)="headerModel.OrderDate = $event" [label]="'วันที่เอกสาร'" [data]="headerModel.OrderDate">
                    </cdp>
                </div>
                <div class="col s12">
                    <citxt (cModel)="headerModel.OrderNo = $event" [label]="'Doc No.'" [data]="headerModel.OrderNo">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.OrderType = $event" [label]="'ประเภทเอกสาร'" [data]="headerModel.OrderType" [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.PurchaseNo = $event" [label]="'PO No.'" [data]="headerModel.PurchaseNo">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <cdp (cModel)="headerModel.OrderEstimate = $event" [label]="'Appt. Date'" [data]="headerModel.OrderEstimate">
                    </cdp>
                </div>
                <div class="col s12">
                    <citxt (cModel)="headerModel.CBM = $event" [label]="'CBM'" [data]="headerModel.CBM">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.OwnerDescription = $event" [label]="'ผู้ส่ง'" [data]="headerModel.OwnerDescription" [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.Qty = $event" [label]="'Carton'" [data]="headerModel.Qty">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.ShiptoDescription = $event" [label]="'ผู้รับ'" [data]="headerModel.ShiptoDescription" [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.Weight = $event" [label]="'Weight'" [data]="headerModel.Weight">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.ShiptoTel = $event" [label]="'โทรศัพท์ผู้รับ'" [data]="headerModel.ShiptoTel" [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="headerModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="headerModel.ShiptoAddress" [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12">
                    <citxt (cModel)="headerModel.RouteDescription = $event" [label]="'เส้นทางหลัก'" [data]="headerModel.RouteDescription" [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12">
                    <citxt (cModel)="headerModel.SubRouteDescription = $event" [label]="'เส้นทางย่อย'" [data]="headerModel.SubRouteDescription" [readonly]="true">
                    </citxt>
                </div>
            </div>
        </div>
    </div>
    <!-- {{this.viewModel|json}} -->
    <div class="col s12">
        <div class="top-485">
            <div class="card-panel table-panel-header">
                <div class="row">
                    <div class="col l8 s12">
                        <span class="card-panel-header-span">
                            รายการข้อมูล
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-panel mt-0">
                <div class="row">
                    <div class="col l3 s12">
                        Manifest Number : {{headerModel.TransportNo}}
                    </div>
                    <div class="col l2 s12">
                        Route : {{headerModel.Route}}
                    </div>
                    <div class="col l2 s12">
                        Sub Route : {{headerModel.SubRoute}}
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 s12">
                        License : {{headerModel.VehicleNo}}
                    </div>
                    <div class="col l2 s12">
                        Driver : {{headerModel.DriverFirstName}}
                    </div>
                    <div class="col l2 s12">
                        Total Drop : {{headerModel.NumDrop}}
                    </div>
                    <div class="col l2 s12">
                        Total Carton : {{headerModel.SumQty}}
                    </div>
                    <div class="col l2 s12">
                        Total Weight : {{headerModel.SumWeight}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col l12 s12">
                        <div class="overflow-x">
                            <table id="users-list-datatable" class="bordered centered striped">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>SO No.</th>
                                        <th>Doc. Type</th>
                                        <th>Invoice No.</th>
                                        <th>Invoice Date</th>
                                        <th>Customer Name/ShipTo</th>
                                        <th>Appointment Date</th>
                                        <th>Actual Arrive</th>
                                        <th>Status</th>
                                        <th>Transport By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of listDetailModel; let idx = index">
                                        <td>
                                            <div class="w30">
                                                {{idx + 1}}
                                            </div>
                                        </td>
                                        <td class="cursor-pointer">
                                            <div class="w100">
                                                <a style="cursor: pointer;" (click)="readDetail(i)">{{i.OrderNo}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{i.OrderType}}
                                            </div>
                                        </td>
                                        <td class="cursor-pointer">
                                            <div class="w100">
                                                <a style="cursor: pointer;" (click)="readDetail(i)"> {{i.InvoiceNo}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{formatDate(i.InvoiceDate)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w200">
                                                {{i.ShiptoName}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{formatDate(i.OrderEstimate)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{formatDate(i.DeliveryCheckInDate)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{i.OTDelivery}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w200">
                                                {{i.Transport}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card-panel table-panel-header">
                <div class="row">
                    <div class="col l8 s12">
                        <span class="card-panel-header-span">
                            รายการข้อมูล
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-panel mt-0">
                <div class="row">
                    <div class="col l8 s12">
                        <div style="overflow-x: auto;">
                            <table id="users-list-datatable" class="bordered centered striped">
                                <thead>
                                    <tr>
                                        <th>Invoice/Doc No.</th>
                                        <th>Appointment Date</th>
                                        <th>Actual Arrive</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="w100">
                                                {{headerModel.InvoiceNo}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{formatDate(headerModel.OrderEstimate)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{formatDate(headerModel.DeliveryCheckInDate)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{headerModel.OTDelivery}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div style="overflow-x: auto;">
                            <table id="users-list-datatable" class="bordered centered striped">
                                <thead>
                                    <tr>
                                        <th>Driver Return</th>
                                        <th>Due Date POD Return</th>
                                        <th>POD Return Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="w100">
                                                {{formatDateTime(headerModel.DriverReturnDate)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{formatDate(headerModel.OTBillReturnDate)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{formatDate(headerModel.AdminReturnDate)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w100">
                                                {{headerModel.OTBillReturn}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <!-- <h1>ลายเซ็นต์ - รับสินค้า</h1>
                        <div class="col l4 s12">
                            <img alt="" [src]="headerModel.ReceiveSignature" width="100%" />
                        </div>
                        <br> -->

                        <div class="col s12">
                            <div class="card-panel card-panel-header">
                                <div class="row">
                                    <div class="col l8 s12">
                                        <span class="card-panel-header-span">
                                            รูปถ่าย - รับสินค้า
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-panel hide-on-med-and-down mt-0">
                                <div class="row">
                                    <div class="col l4 s4 p-10">
                                        <img alt="" [src]="headerModel.ReceiveCheckInImage1" (error)="handleMissingImage($event)" width="96%" />
                                    </div>
                                    <div class="col l4 s4 p-10">
                                        <img alt="" [src]="headerModel.ReceiveCheckInImage2" (error)="handleMissingImage($event)" width="96%" />
                                    </div>
                                    <div class="col l4 s4 p-10">
                                        <img alt="" [src]="headerModel.ReceiveCheckInImage3" (error)="handleMissingImage($event)" width="96%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card-panel table-panel-header">
                                <div class="row">
                                    <div class="col l8 s12">
                                        <span class="card-panel-header-span">
                                            ลายเซ็นต์ - ส่งสินค้า
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-panel hide-on-med-and-down mt-0">
                                <div class="row">
                                    <div class="col l3 s12 p-20">
                                        <img alt="" [src]="headerModel.DeliverySignature" (error)="handleMissingImage($event)" width="100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card-panel card-panel-header">
                                <div class="row">
                                    <div class="col l8 s12">
                                        <span class="card-panel-header-span">
                                            รูปถ่าย - ส่งสินค้า
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-panel hide-on-med-and-down mt-0">
                                <div class="row">
                                    <div class="col l4 s4 p-10">
                                        <img alt="" [src]="headerModel.DeliveryCheckInImage1" (error)="handleMissingImage($event)" width="96%" />
                                    </div>
                                    <div class="col l4 s4 p-10">
                                        <img alt="" [src]="headerModel.DeliveryCheckInImage2" (error)="handleMissingImage($event)" width="96%" />
                                    </div>
                                    <div class="col l4 s4 p-10">
                                        <img alt="" [src]="headerModel.DeliveryCheckInImage3" (error)="handleMissingImage($event)" width="96%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div style="height: 500px; overflow-x: auto;">
                            <!-- {{headerModel|json}} -->
                            <!-- <agm-map [latitude]="lat" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map> -->
                            <!-- <img alt="" src="./assets/img/googlemap.png"> -->
                            <div style="overflow-x: auto;">
                                <table id="users-list-datatable" class="bordered centered striped">
                                    <thead>
                                        <tr>
                                            <th>Customer Code</th>
                                            <th>Customer Name</th>
                                            <th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="w100">
                                                    {{headerModel.ShiptoCode}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="w100">
                                                    {{headerModel.ShiptoName}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="w100 cursor-pointer" (click)="openMap(headerModel.ReceiveCheckOutLocation)">
                                                    <!-- {{headerModel.ReceiveCheckOutLocation}} -->
                                                    <img alt="" src="./assets/img/pin.jpg" width="50" height="50">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col s12 text-center">
                        <div class="row margin-bottom-10">
                            <cbtn [label]="'กลับ'" [color]="'grey'" [icon]="''" (click)="backToMain()">
                            </cbtn>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>