<div *ngIf="isMainPage">
    <div class="col s12">
        <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l8 s12">
                    <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        <b>งานขนส่ง / สร้างใบคุมรถ</b>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down" style="margin-top: 0px;">
            <div class="row">
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.TransportNo = $event" [label]="'เลขที่ใบคุม'" [data]="criteriaModel.TransportNo" [readonly]="true"></citxt>
                </div>
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.TransportDescription = $event" [label]="'บริษัทขนส่ง'" [data]="criteriaModel.TransportDescription" [readonly]="true" (click)="chooseTransport()"></citxt>
                </div>
                <div class="col l4 s12 pl-0">
                    <citxt (cModel)="criteriaModel.ReceiveFromDescription = $event" [label]="'สถานที่รับสินค้า'" [data]="criteriaModel.ReceiveFromDescription" [readonly]="true" (click)="chooseReceiveFrom()"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <cdp (cModel)="criteriaModel.TransportDateString = $event" [label]="'วันที่สร้างเอกสาร'" [data]="criteriaModel.TransportDateString"></cdp>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'Route'" [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseRoute()"></citxt>
                </div>
                <div class="col l4 s12 pl-0" style="margin-top: -20px;">
                    <ctxta (cModel)="criteriaModel.ReceiveFromAddress = $event" [label]="''" [data]="criteriaModel.ReceiveFromAddress"></ctxta>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <!-- <citxt (cModel)="criteriaModel.ShipmentNo = $event" [label]="'Shipment No.'" [data]="criteriaModel.ShipmentNo"></citxt> -->
                    <citxt (cModel)="criteriaModel.StatusDescription = $event" [label]="'สถานะ'" [data]="criteriaModel.StatusDescription" [readonly]="true" (click)="chooseTypeOfWork()"></citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.SubRouteDescription = $event" [label]="'SubRoute'" [data]="criteriaModel.SubRouteDescription" [readonly]="true" (click)="chooseSubRoute()"></citxt>
                </div>
                <div class="col l4 s12 pl-0" style="margin-top: -20px;">
                    <!-- <citxt (cModel)="criteriaModel.DriverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.DriverDescription" [readonly]="true" (click)="chooseDriver()"></citxt> -->
                    <citxt (cModel)="criteriaModel.TransportShiptoDescription = $event" [label]="'สถานที่ส่งสินค้า'" [data]="criteriaModel.TransportShiptoDescription" [readonly]="true" (click)="chooseTransportShipTo()"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.DriverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.DriverDescription" [readonly]="true" (click)="chooseDriver()"></citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <!-- <citxt (cModel)="criteriaModel.VehicleTypeDescription = $event" [label]="'Truck Type'" [data]="criteriaModel.VehicleTypeDescription" [readonly]="true" (click)="chooseVehicleType()"></citxt> -->
                    <citxt (cModel)="criteriaModel.Plant = $event" [label]="'Plant'" [data]="criteriaModel.Plant"></citxt>
                </div>
                <div class="col l4 s12 pl-0" style="margin-top: -20px;">
                    <ctxta (cModel)="criteriaModel.TransportShiptoAddress = $event" [label]="''" [data]="criteriaModel.TransportShiptoAddress"></ctxta>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.VehicleDescription = $event" [label]="'ทะเบียนรถ'" [data]="criteriaModel.VehicleDescription" [readonly]="true" (click)="chooseVehicle()"></citxt>
                </div>
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.ShipmentNo = $event" [label]="'Shipment No.'" [data]="criteriaModel.ShipmentNo"></citxt>
                </div>
                <div class="col l4 s12 pl-0">
                    <citxt (cModel)="criteriaModel.Remark = $event" [label]="'หมายเหตุ'" [data]="criteriaModel.Remark"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.VehicleTypeDescription = $event" [label]="'Truck Type'" [data]="criteriaModel.VehicleTypeDescription" [readonly]="true" (click)="chooseVehicleType()"></citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.Mobile = $event" [label]="'เบอร์โทรศัพท์คนขับ'" [data]="criteriaModel.Mobile" [readonly]="true" (click)="chooseDriver()"></citxt>
                </div>
                <div class="col l4 s12 pl-0" style="margin-top: -20px;">
                    <!-- <citxt (cModel)="criteriaModel.Remark = $event" [label]="'Picking For'" [data]="criteriaModel.Remark"></citxt> -->
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.TransportNo = $event" [label]="'เลขที่ใบคุม'" [data]="criteriaModel.TransportNo" [readonly]="true"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.TransportDescription = $event" [label]="'บริษัทขนส่ง'" [data]="criteriaModel.TransportDescription" [readonly]="true" (click)="chooseTransport()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.VehicleDescription = $event" [label]="'ทะเบียนรถ'" [data]="criteriaModel.VehicleDescription" [readonly]="true" (click)="chooseVehicle()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <cdp (cModel)="criteriaModel.TransportDate = $event" [label]="'วันที่สร้างเอกสาร'" [data]="criteriaModel.TransportDate"></cdp>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'Route'" [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseRoute()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.Remark = $event" [label]="'Picking For'" [data]="criteriaModel.Remark"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.ShipmentNo = $event" [label]="'Shipment No.'" [data]="criteriaModel.ShipmentNo"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.SubRouteDescription = $event" [label]="'SubRoute'" [data]="criteriaModel.SubRouteDescription" [readonly]="true" (click)="chooseSubRoute()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.DriverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.DriverDescription" [readonly]="true" (click)="chooseDriver()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.Plant = $event" [label]="'Plant'" [data]="criteriaModel.Plant"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.VehicleTypeDescription = $event" [label]="'Truck Type'" [data]="criteriaModel.VehicleTypeDescription" [readonly]="true" (click)="chooseVehicleType()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.Mobile = $event" [label]="'เบอร์โทรศัพท์คนขับ'" [data]="criteriaModel.Mobile" [readonly]="true" (click)="chooseDriver()"></citxt>
                </div>
            </div>
        </div>
    </div>
    <!-- {{this.viewModel|json}} -->
    <div class="col s12">
        <div class="card-panel" style="margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l2 s12">
                    <span style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
                        <b>งานขนส่ง</b>
                    </span>
                </div>
                <div class="col l8 s12">
                </div>
            </div>
        </div>
        <div class="card-panel" style="margin-top: 0px;">
            <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let i of listModel" cdkDrag>{{i.demo}}</div>
            </div> -->
            <div style="overflow-x: auto;">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>
                                คำสั่ง
                            </th>
                            <!-- <th></th> -->
                            <th>ลำดับ</th>
                            <!-- <th>เลขที่ใบคุม</th> -->
                            <th>เลขที่ Inv.</th>
                            <th>สถานะ</th>
                            <th>Doc. Type</th>
                            <th>Doc. No.</th>
                            <th>PO</th>
                            <th>Cus Code</th>
                            <th>Ship To</th>
                            <th>ที่อยู่ผู้รับ</th>

                            <th>Appt. Date</th>
                            <th>CBM</th>
                            <th>Carton</th>
                            <th>Weight (kg.)</th>

                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listModel | paginate: { itemsPerPage: 50, currentPage: p }; let idx = index">
                            <!-- [hidden]="!checkPermission(i.category, 'deleteAction')" -->
                            <!-- <td>
                                <div class="w20">
                                    <label>
                                            (change)="isAllSelected(i.category, 'deleteAction')"
                                            <input type="checkbox" [(ngModel)]="i.isSelected" />
                                            <span></span>
                                        </label>
                                </div>
                            </td> -->
                            <!-- <td>
                                    <div class="w150"> -->
                            <!-- <a href="javascript:void(0)">
                                            <p class="cut-text">{{i.FirstName}}</p>
                                        </a> -->
                            <!-- <cdp (cModel)="i.DateFrom = $event" [label]="'-'" [data]="i.DateFrom"></cdp> -->
                            <!-- <div class="col s9 p-0">
                                            <input style="height: 20px; margin-top: 10px !important;" [(ngModel)]="i.DateFrom" matInput [matDatepicker]="picker" [formControl]="dateControl">
                                        </div>
                                        <div class="col s2 p-0">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </div> -->
                            <!-- </div>
                                </td> -->
                            <!-- <td>
                                    <div class="w30">
                                        <a href="javascript:void(0)" (click)="exportAsXLSX(i)">
                                            <i class="material-icons">
                                                print
                                            </i>
                                        </a>
                                    </div>
                                </td> -->

                            <div class="w100">
                                <!-- <a class="btn-floating blue" style="cursor: pointer;">
                                        <i class="medium material-icons">edit</i>
                                    </a> -->
                                <a class="btn-floating red" style="cursor: pointer;" (click)="deleteOrder(idx)">
                                    <i class="medium material-icons">delete</i>
                                </a>
                            </div>
                            <td>
                                <div class="w30">
                                    {{idx+1}}
                                </div>
                            </td>
                            <!-- <td> -->
                            <!-- <div class="w100"> -->
                            <!-- <a href="javascript:void(0)">
                                            <p class="cut-text">{{i.FirstName}}</p>
                                        </a> -->
                            <!-- <cdp (cModel)="i.DateTo = $event" [label]="'-'" [data]="i.DateTo"></cdp> -->
                            <!-- <a href="javascript:void(0)" style="cursor: pointer !important;">
                                            {{i.Code}}
                                        </a> -->
                            <!-- <cbtne [label]="i.Code" (click)="editTimeSheet(i)"></cbtne> -->
                            <!-- {{i.TransportNo}} -->
                            <!-- </div> -->
                            <!-- </td> -->
                            <td style="cursor: pointer !important;">
                                <div class="w100">
                                    {{i.InvoiceNo}}
                                    <!-- <cdp (cModel)="i.Date = $event" [label]="'-'" [data]="i.Date"></cdp> -->
                                </div>
                            </td>
                            <td style="padding: 0 0 0 0 !important;">
                                <div *ngIf="i.OrderStatusDesc == 'ยืนยันแล้ว'" class="w100" style="background-color: rgb(154, 254, 154); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                                <div *ngIf="i.OrderStatusDesc == 'รอยืนยันใบคุมรถ'" class="w100" style="background-color: rgb(247, 131, 131); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                                <div *ngIf="i.OrderStatusDesc == 'ระหว่างจัดส่งสินค้า'" class="w100" style="background-color: rgb(247, 232, 131); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>


                                <div *ngIf="i.OrderStatusDesc != 'รอยืนยันใบคุมรถ' && i.OrderStatusDesc != 'ยืนยันแล้ว' && i.OrderStatusDesc != 'ระหว่างจัดส่งสินค้า' " class="w100" style="background-color: rgb(218, 131, 247); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.OrderType}}
                                    <!-- <cdp (cModel)="i.Date = $event" [label]="'-'" [data]="i.Date"></cdp> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.OrderNo}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.StartTime" name="i.StartTime" id="i.StartTime" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.PurchaseNo}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.U_HMC_Hour" name="i.U_HMC_Hour" id="i.U_HMC_Hour" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.ShiptoCode}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.EndTime" name="i.EndTime" id="i.EndTime" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w200">
                                    {{i.ShiptoName}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w600">
                                    {{i.ShiptoAdress}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>

                            <td>
                                <div class="w100">
                                    {{i.OrderEstimateStr}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.CBM}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Qty}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Weight}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>

                            <td>
                                <div class="w300">
                                    {{i.Comment}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <!-- <td>
                                <div class="w150">

                                    <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1">
                                </div>
                            </td> -->
                            <!-- <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.FinancialProject" name="i.FinancialProject" id="i.FinancialProject" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.CostCenter" name="i.CostCenter" id="i.CostCenter" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.U_HMC_Stage" name="i.U_HMC_Stage" id="i.U_HMC_Stage" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.Break" name="i.Break" id="i.Break" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.NonBillableTime" name="i.NonBillableTime" id="i.NonBillableTime" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        N/A
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        N/A
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.U_HMC_Detail" name="i.U_HMC_Detail" id="i.U_HMC_Detail" type="text" class="input-text-1">
                                    </div>
                                </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <div class="col s6" style="margin-top: 10px;">
                            <cbtn [label]="'เพิ่มงานขนส่ง'" [color]="'blue'" [icon]="''" (click)="add()"></cbtn>
                        </div>
                        <div class="col s6" style="margin-top: 10px;">
                            <cbtn [label]="'บันทึกข้อมูล'" [color]="'green'" [icon]="''" (click)="create()"></cbtn>
                        </div>
                        <!-- <div class="col s6" style="margin-top: 10px;">
                            <cbtn [label]="'กลับ'" [color]="'grey'" [icon]="''" (click)="backToMain()"></cbtn>
                        </div> -->
                    </div>

                    <!-- <ul>
                        <li>paginationModel.textPage</li>
                    </ul> -->
                </div>
                <div class="col s6">
                    <div style="text-align: right;">
                        <!-- <ul>
                            <li *ngFor="let item of listModel | paginate: { itemsPerPage: 10, currentPage: p }">{{item}}</li>
                        </ul> -->
                        <pagination-controls (pageChange)="p = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป"></pagination-controls>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div *ngIf="isFormPage">
    <div class="col s12">
        <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l8 s12">
                    <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        <b>งานขนส่ง / สร้างใบคุมรถ / เพิ่มงานขนส่ง</b>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down" style="margin-top: 0px;">
            <div class="row">
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.OrderNo = $event" [label]="'Doc No.'" [data]="formModel.OrderNo"></citxt>
                </div>
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.ShiptoDescription = $event" [label]="'ชื่อผู้รับ'" [data]="formModel.ShiptoDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="formModel.ShiptoAddress" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12" style="margin-top: -20px;">
                    <citxt (cModel)="formModel.InvoiceNo = $event" [label]="'เลขที่อินวอยน์'" [data]="formModel.InvoiceNo" [readonly]="true"></citxt>
                </div>
                <div class="col l4 s12" style="margin-top: -20px;">
                    <cdp (cModel)="formModel.OrderDateString = $event" [label]="'วันที่ออกเอกสาร'" [data]="formModel.OrderDateString"></cdp>
                </div>
                <div class="col l4 s12" style="margin-top: -20px;">
                    <citxt (cModel)="formModel.StatusDescription = $event" [label]="'สถานะ'" [data]="formModel.StatusDescription" [readonly]="true" (click)="chooseStatus()"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l8 s12 p-0" style="margin-bottom: 5px;"></div>
                <div class="col l4 s12 p-0 text-right" style="margin-bottom: 5px;">
                    <cbtn [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtn>
                    <cbtn [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="readOrder()"></cbtn>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <citxt (cModel)="formModel.OrderNo = $event" [label]="'Doc No.'" [data]="formModel.OrderNo"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="formModel.ShiptoDescription = $event" [label]="'ชื่อผู้รับ'" [data]="formModel.ShiptoDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="formModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="formModel.ShiptoAddress" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="formModel.InvoiceNo = $event" [label]="'เลขที่อินวอยน์'" [data]="formModel.InvoiceNo" [readonly]="true"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <cdp (cModel)="formModel.OrderDateString = $event" [label]="'วันที่ออกเอกสาร'" [data]="formModel.OrderDateString"></cdp>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="formModel.StatusDescription = $event" [label]="'สถานะ'" [data]="formModel.StatusDescription" [readonly]="true" (click)="chooseStatus()"></citxt>
                </div>
                <div class="col s12 p-0" style="margin-bottom: 5px;">
                    <cbtnl [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtnl>
                </div>
                <div class="col s12 p-0" style="margin-bottom: 5px;">
                    <cbtnl [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="readOrder()"></cbtnl>
                </div>
            </div>
        </div>
    </div>
    <!-- {{this.viewModel|json}} -->
    <div class="col s12">
        <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l2 s12">
                    <!-- <i class="material-icons header-icon">
                        featured_play_list
                    </i> -->
                    <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        รายการข้อมูล
                    </span>
                </div>
                <div class="col l8 s12">
                    <!-- <cbtn [label]="'New+'" [color]="'blue'" [icon]="'add_circle_outline'" (click)="newTimeSheet()"></cbtn> -->
                </div>
            </div>
        </div>
        <div class="card-panel" style="margin-top: 0px;">
            <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let i of listModel" cdkDrag>{{i.demo}}</div>
            </div> -->
            <div style="overflow-x: auto;">
                <!-- min-height: 200px; max-height: 200px; -->
                <!-- div:hover {
                    overflow-y: scroll;
                } -->
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>
                                <span class="header-checkbox">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="itemSelected"
                                            (change)="checkUncheckAll()" />
                                        <span style="padding-left: 20px;"></span>
                                </label>
                                </span>
                            </th>
                            <!-- <th></th> -->
                            <th>ลำดับ</th>
                            <!-- <th>เลขที่ใบคุม</th> -->
                            <th>เลขที่ Inv.</th>
                            <th>สถานะ</th>
                            <th>Doc. Type</th>
                            <th>Doc. No.</th>
                            <th>PO</th>
                            <th>Cus Code</th>
                            <th>Ship To</th>
                            <th>ที่อยู่ผู้รับ</th>

                            <th>Appt. Date</th>
                            <th>CBM</th>
                            <th>Carton</th>
                            <th>Weight (kg.)</th>

                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listFormModel | paginate: { itemsPerPage: 50, currentPage: p }; let idx = index">
                            <!-- [hidden]="!checkPermission(i.category, 'deleteAction')" -->
                            <td>
                                <div class="w20">
                                    <label>
                                            <!-- (change)="isAllSelected(i.category, 'deleteAction')" -->
                                            <input type="checkbox" [(ngModel)]="i.isSelected" />
                                            <span></span>
                                        </label>
                                </div>
                            </td>
                            <!-- <td>
                                    <div class="w150"> -->
                            <!-- <a href="javascript:void(0)">
                                            <p class="cut-text">{{i.FirstName}}</p>
                                        </a> -->
                            <!-- <cdp (cModel)="i.DateFrom = $event" [label]="'-'" [data]="i.DateFrom"></cdp> -->
                            <!-- <div class="col s9 p-0">
                                            <input style="height: 20px; margin-top: 10px !important;" [(ngModel)]="i.DateFrom" matInput [matDatepicker]="picker" [formControl]="dateControl">
                                        </div>
                                        <div class="col s2 p-0">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </div> -->
                            <!-- </div>
                                </td> -->
                            <!-- <td>
                                    <div class="w30">
                                        <a href="javascript:void(0)" (click)="exportAsXLSX(i)">
                                            <i class="material-icons">
                                                print
                                            </i>
                                        </a>
                                    </div>
                                </td> -->
                            <td>
                                <div class="w30">
                                    {{idx+1}}
                                </div>
                            </td>
                            <!-- <td> -->
                            <!-- <div class="w100"> -->
                            <!-- <a href="javascript:void(0)">
                                            <p class="cut-text">{{i.FirstName}}</p>
                                        </a> -->
                            <!-- <cdp (cModel)="i.DateTo = $event" [label]="'-'" [data]="i.DateTo"></cdp> -->
                            <!-- <a href="javascript:void(0)" style="cursor: pointer !important;">
                                            {{i.Code}}
                                        </a> -->
                            <!-- <cbtne [label]="i.Code" (click)="editTimeSheet(i)"></cbtne> -->
                            <!-- {{i.TransportNo}} -->
                            <!-- </div> -->
                            <!-- </td> -->
                            <td style="cursor: pointer !important;">
                                <div class="w100">
                                    {{i.InvoiceNo}}
                                    <!-- <cdp (cModel)="i.Date = $event" [label]="'-'" [data]="i.Date"></cdp> -->
                                </div>
                            </td>
                            <td style="padding: 0 0 0 0 !important;">
                                <div *ngIf="i.OrderStatusDesc == 'ยืนยันแล้ว'" class="w100" style="background-color: rgb(154, 254, 154); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                                <div *ngIf="i.OrderStatusDesc == 'รอยืนยันใบคุมรถ'" class="w100" style="background-color: rgb(247, 131, 131); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                                <div *ngIf="i.OrderStatusDesc == 'ระหว่างจัดส่งสินค้า'" class="w100" style="background-color: rgb(247, 232, 131); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>


                                <div *ngIf="i.OrderStatusDesc != 'รอยืนยันใบคุมรถ' && i.OrderStatusDesc != 'ยืนยันแล้ว' && i.OrderStatusDesc != 'ระหว่างจัดส่งสินค้า' " class="w100" style="background-color: rgb(218, 131, 247); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.OrderType}}
                                    <!-- <cdp (cModel)="i.Date = $event" [label]="'-'" [data]="i.Date"></cdp> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.OrderNo}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.StartTime" name="i.StartTime" id="i.StartTime" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.PurchaseNo}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.U_HMC_Hour" name="i.U_HMC_Hour" id="i.U_HMC_Hour" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.ShiptoCode}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.EndTime" name="i.EndTime" id="i.EndTime" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w200">
                                    {{i.ShiptoName}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w600">
                                    {{i.ShiptoAdress}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>

                            <td>
                                <div class="w100">
                                    {{i.OrderEstimateStr}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.CBM}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Qty}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Weight}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>

                            <td>
                                <div class="w300">
                                    {{i.Comment}}
                                    <!-- <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1"> -->
                                </div>
                            </td>
                            <!-- <td>
                                <div class="w150">

                                    <input style="height: 20px;" [(ngModel)]="i.ActivityType" name="i.ActivityType" id="i.ActivityType" type="text" class="input-text-1">
                                </div>
                            </td> -->
                            <!-- <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.FinancialProject" name="i.FinancialProject" id="i.FinancialProject" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.CostCenter" name="i.CostCenter" id="i.CostCenter" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.U_HMC_Stage" name="i.U_HMC_Stage" id="i.U_HMC_Stage" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.Break" name="i.Break" id="i.Break" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.NonBillableTime" name="i.NonBillableTime" id="i.NonBillableTime" type="text" class="input-text-1">
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        N/A
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        N/A
                                    </div>
                                </td>
                                <td>
                                    <div class="w100">
                                        <input style="height: 20px;" [(ngModel)]="i.U_HMC_Detail" name="i.U_HMC_Detail" id="i.U_HMC_Detail" type="text" class="input-text-1">
                                    </div>
                                </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col s3">
                    <div class="row" style="margin-top: 10px;">
                        <cbtn [label]="'เพิ่มงานขนส่ง'" [color]="'blue'" [icon]="''" (click)="addOrder()"></cbtn>
                    </div>

                    <!-- <ul>
                        <li>paginationModel.textPage</li>
                    </ul> -->
                </div>
                <div class="col s2">
                    <div class="row" style="margin-top: 10px;">
                        <cbtn [label]="'ออก'" [color]="'red'" [icon]="''"></cbtn>
                    </div>

                    <!-- <ul>
                        <li>paginationModel.textPage</li>
                    </ul> -->
                </div>

                <div class="col s7">
                    <div style="text-align: right;">
                        <!-- <ul>
                            <li *ngFor="let item of listModel | paginate: { itemsPerPage: 10, currentPage: p }">{{item}}</li>
                        </ul> -->
                        <pagination-controls (pageChange)="p = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป"></pagination-controls>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>