<div *ngIf="isMainPage">
    <div class="col s12">
        <div class="card-panel"
            style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l8 s12">
                    <span
                        style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        <b>งานขนส่ง / สร้างใบคุมรถ</b>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down" style="margin-top: 0px;">
            <div class="row">
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.TransportNo = $event" [label]="'เลขที่ใบคุม'"
                        [data]="criteriaModel.TransportNo" [readonly]="true"></citxt>
                </div>
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.TransportTypeDescription = $event" [label]="'Type of Work'"
                        [data]="criteriaModel.TransportTypeDescription" [readonly]="true" (click)="chooseTypeOfWork()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0">
                    <cdp (cModel)="criteriaModel.TransportDateString = $event" [label]="'วันที่สร้างเอกสาร'"
                        [data]="criteriaModel.TransportDateString"></cdp>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.Plant = $event" [label]="'Plant'" [data]="criteriaModel.Plant">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.ShipmentNo = $event" [label]="'Shipment No.'"
                        [data]="criteriaModel.ShipmentNo"></citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.Remark = $event" [label]="'หมายเหตุ'" [data]="criteriaModel.Remark">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'Route'"
                        [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseRoute()"></citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.SubRouteDescription = $event" [label]="'SubRoute'"
                        [data]="criteriaModel.SubRouteDescription" [readonly]="true" (click)="chooseSubRoute()"></citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.Region = $event" [label]="'โซน'" [data]="criteriaModel.Region"
                        [readonly]="true" (click)="chooseRegion()"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.TransportDescription = $event" [label]="'บริษัทขนส่ง'"
                        [data]="criteriaModel.TransportDescription" [readonly]="true" (click)="chooseTransport()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.DriverDescription = $event" [label]="'ชื่อคนขับ'"
                        [data]="criteriaModel.DriverDescription" [readonly]="true" (click)="chooseDriver()"></citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.DriverMobile = $event" [label]="'เบอร์โทรศัพท์คนขับ'"
                        [data]="criteriaModel.DriverMobile" [readonly]="true" (click)="chooseDriver()"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.VehicleTypeDescription = $event" [label]="'Truck Type'"
                        [data]="criteriaModel.VehicleTypeDescription" [readonly]="true" (click)="chooseVehicleType()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.VehicleDescription = $event" [label]="'ทะเบียนรถ'"
                        [data]="criteriaModel.VehicleDescription" [readonly]="true" (click)="chooseVehicle()"></citxt>
                </div>

            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.ReceiveFromDescription = $event" [label]="'สถานที่รับสินค้า'"
                        [data]="criteriaModel.ReceiveFromDescription" [readonly]="true" (click)="chooseReceiveFrom()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.TransportShiptoDescription = $event" [label]="'สถานที่ส่งสินค้า'"
                        [data]="criteriaModel.TransportShiptoDescription" [readonly]="true"
                        (click)="chooseTransportShipTo()"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <ctxta (cModel)="criteriaModel.ReceiveFromAddress = $event" [label]="''"
                        [data]="criteriaModel.ReceiveFromAddress"></ctxta>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <ctxta (cModel)="criteriaModel.TransportShiptoAddress = $event" [label]="''"
                        [data]="criteriaModel.TransportShiptoAddress"></ctxta>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.TransportNo = $event" [label]="'เลขที่ใบคุม'"
                        [data]="criteriaModel.TransportNo" [readonly]="true"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.TransportDescription = $event" [label]="'บริษัทขนส่ง'"
                        [data]="criteriaModel.TransportDescription" [readonly]="true" (click)="chooseTransport()">
                    </citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.ReceiveFromDescription = $event" [label]="'สถานที่รับสินค้า'"
                        [data]="criteriaModel.ReceiveFromDescription" [readonly]="true" (click)="chooseReceiveFrom()">
                    </citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <ctxta (cModel)="criteriaModel.ReceiveFromAddress = $event" [label]="''"
                        [data]="criteriaModel.ReceiveFromAddress"></ctxta>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <cdp (cModel)="criteriaModel.TransportDateString = $event" [label]="'วันที่สร้างเอกสาร'"
                        [data]="criteriaModel.TransportDateString"></cdp>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'Route'"
                        [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseRoute()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.SubRouteDescription = $event" [label]="'SubRoute'"
                        [data]="criteriaModel.SubRouteDescription" [readonly]="true" (click)="chooseSubRoute()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.TransportTypeDescription = $event" [label]="'Type of Work'"
                        [data]="criteriaModel.TransportTypeDescription" [readonly]="true" (click)="chooseTypeOfWork()">
                    </citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.TransportShiptoDescription = $event" [label]="'สถานที่ส่งสินค้า'"
                        [data]="criteriaModel.TransportShiptoDescription" [readonly]="true"
                        (click)="chooseTransportShipTo()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <ctxta (cModel)="criteriaModel.TransportShiptoAddress = $event" [label]="''"
                        [data]="criteriaModel.TransportShiptoAddress"></ctxta>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.DriverDescription = $event" [label]="'ชื่อคนขับ'"
                        [data]="criteriaModel.DriverDescription" [readonly]="true" (click)="chooseDriver()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.Plant = $event" [label]="'Plant'" [data]="criteriaModel.Plant">
                    </citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.VehicleDescription = $event" [label]="'ทะเบียนรถ'"
                        [data]="criteriaModel.VehicleDescription" [readonly]="true" (click)="chooseVehicle()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.ShipmentNo = $event" [label]="'Shipment No.'"
                        [data]="criteriaModel.ShipmentNo"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.Remark = $event" [label]="'หมายเหตุ'" [data]="criteriaModel.Remark">
                    </citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.VehicleTypeDescription = $event" [label]="'Truck Type'"
                        [data]="criteriaModel.VehicleTypeDescription" [readonly]="true" (click)="chooseVehicleType()">
                    </citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.Mobile = $event" [label]="'เบอร์โทรศัพท์คนขับ'"
                        [data]="criteriaModel.Mobile" [readonly]="true" (click)="chooseDriver()"></citxt>
                </div>
            </div>
        </div>
    </div>
    <!-- {{this.viewModel|json}} -->
    <div class="col s12">
        <div class="card-panel" style="margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l2 s12">
                    <span
                        style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
                        <b>งานขนส่ง</b>
                    </span>
                </div>
                <div class="col l8 s12">
                </div>
            </div>
        </div>
        <div class="card-panel" style="margin-top: 0px;">
            <div style="overflow-x: auto;">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>เลขที่ Inv.</th>
                            <th>สถานะ</th>
                            <th>Doc. Type</th>
                            <th>Doc. No.</th>
                            <th>PO</th>
                            <th>Cus Code</th>
                            <th>Ship To</th>
                            <th>ที่อยู่ผู้รับ</th>
                            <th>Appt. Date</th>
                            <th>CBM</th>
                            <th>Carton</th>
                            <th>Weight (kg.)</th>
                            <th>หมายเหตุ</th>
                            <th>คำสั่ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let i of listModel | paginate: { itemsPerPage: 50, currentPage: p }; let idx = index">
                            <td>
                                <div class="w30">
                                    {{idx+1}}
                                </div>
                            </td>
                            <td style="cursor: pointer !important;">
                                <div class="w100">
                                    {{i.InvoiceNo}}
                                </div>
                            </td>
                            <td style="padding: 0 0 0 0 !important;">
                                <div *ngIf="i.OrderStatusDesc == 'ยืนยันแล้ว'" class="w100"
                                    style="background-color: rgb(154, 254, 154); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>
                                <div *ngIf="i.OrderStatusDesc == 'รอยืนยันใบคุมรถ'" class="w100"
                                    style="background-color: rgb(247, 131, 131); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>
                                <div *ngIf="i.OrderStatusDesc == 'ระหว่างจัดส่งสินค้า'" class="w100"
                                    style="background-color: rgb(247, 232, 131); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>


                                <div *ngIf="i.OrderStatusDesc != 'รอยืนยันใบคุมรถ' && i.OrderStatusDesc != 'ยืนยันแล้ว' && i.OrderStatusDesc != 'ระหว่างจัดส่งสินค้า' "
                                    class="w100"
                                    style="background-color: rgb(218, 131, 247); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.OrderType}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.OrderNo}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.PurchaseNo}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.ShiptoCode}}
                                </div>
                            </td>
                            <td>
                                <div class="w200">
                                    {{i.ShiptoName}}
                                </div>
                            </td>
                            <td>
                                <div class="w600">
                                    {{i.ShiptoAdress}}
                                </div>
                            </td>

                            <td>
                                <div class="w100">
                                    {{i.OrderEstimateStr}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.CBM}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Qty}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Weight}}
                                </div>
                            </td>

                            <td>
                                <div class="w300">
                                    {{i.Comment}}
                                </div>
                            </td>
                            <div class="w100">
                                <a class="btn-floating red" style="cursor: pointer;" (click)="deleteOrder(idx)">
                                    <i class="medium material-icons">delete</i>
                                </a>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col s3">
                    <div class="row" style="margin-top: 10px;">
                        <cbtn [label]="'เพิ่มงานขนส่ง'" [color]="'blue'" [icon]="''" (click)="add()"></cbtn>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row" style="margin-top: 10px;">
                        <cbtn *ngIf="id == 'new'" [label]="'บันทึกข้อมูล'" [color]="'green'" [icon]="''"
                                (click)="create()"></cbtn>
                            <cbtn *ngIf="id != 'new'" [label]="'อัพเดทข้อมูล'" [color]="'green'" [icon]="''"
                                (click)="edit()"></cbtn>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row" style="margin-top: 10px;">
                        <cbtn [label]="'ปิด'" [color]="'grey'" [icon]="''" (click)="close()"></cbtn>
                    </div>
                </div>
                <div style="text-align: right;">
                    <pagination-controls (pageChange)="p = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป">
                    </pagination-controls>
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="isFormPage">
    <div class="col s12">
        <div class="card-panel"
            style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l8 s12">
                    <span
                        style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        <b>งานขนส่ง / สร้างใบคุมรถ / เพิ่มงานขนส่ง</b>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down" style="margin-top: 0px;">
            <div class="row">
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.OrderNo = $event" [label]="'Doc No.'" [data]="formModel.OrderNo"></citxt>
                </div>
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.ShiptoDescription = $event" [label]="'ชื่อผู้รับ'"
                        [data]="formModel.ShiptoDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'"
                        [data]="formModel.ShiptoAddress" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12" style="margin-top: -20px;">
                    <citxt (cModel)="formModel.InvoiceNo = $event" [label]="'เลขที่อินวอยน์'"
                        [data]="formModel.InvoiceNo" [readonly]="true"></citxt>
                </div>
                <div class="col l4 s12" style="margin-top: -20px;">
                    <cdp (cModel)="formModel.OrderDateString = $event" [label]="'วันที่ออกเอกสาร'"
                        [data]="formModel.OrderDateString"></cdp>
                </div>
                <div class="col l4 s12" style="margin-top: -20px;">
                    <citxt (cModel)="formModel.StatusDescription = $event" [label]="'สถานะ'"
                        [data]="formModel.StatusDescription" [readonly]="true" (click)="chooseStatus()"></citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l8 s12 p-0" style="margin-bottom: 5px;"></div>
                <div class="col l4 s12 p-0 text-right" style="margin-bottom: 5px;">
                    <cbtn [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtn>
                    <cbtn [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="readOrder()"></cbtn>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <citxt (cModel)="formModel.OrderNo = $event" [label]="'Doc No.'" [data]="formModel.OrderNo"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="formModel.ShiptoDescription = $event" [label]="'ชื่อผู้รับ'"
                        [data]="formModel.ShiptoDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="formModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'"
                        [data]="formModel.ShiptoAddress" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="formModel.InvoiceNo = $event" [label]="'เลขที่อินวอยน์'"
                        [data]="formModel.InvoiceNo" [readonly]="true"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <cdp (cModel)="formModel.OrderDateString = $event" [label]="'วันที่ออกเอกสาร'"
                        [data]="formModel.OrderDateString"></cdp>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="formModel.StatusDescription = $event" [label]="'สถานะ'"
                        [data]="formModel.StatusDescription" [readonly]="true" (click)="chooseStatus()"></citxt>
                </div>
                <div class="col s12 p-0" style="margin-bottom: 5px;">
                    <cbtnl [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtnl>
                </div>
                <div class="col s12 p-0" style="margin-bottom: 5px;">
                    <cbtnl [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="readOrder()"></cbtnl>
                </div>
            </div>
        </div>
    </div>
    <!-- {{this.viewModel|json}} -->
    <div class="col s12">
        <div class="card-panel"
            style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l2 s12">
                    <!-- <i class="material-icons header-icon">
                        featured_play_list
                    </i> -->
                    <span
                        style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        รายการข้อมูล
                    </span>
                </div>
                <div class="col l8 s12">
                    <!-- <cbtn [label]="'New+'" [color]="'blue'" [icon]="'add_circle_outline'" (click)="newTimeSheet()"></cbtn> -->
                </div>
            </div>
        </div>
        <div class="card-panel" style="margin-top: 0px;">
            <div style="overflow-x: auto;">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>
                                <span class="header-checkbox">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="itemSelected"
                                            (change)="checkUncheckAll()" />
                                        <span style="padding-left: 20px;"></span>
                                    </label>
                                </span>
                            </th>
                            <th>ลำดับ</th>
                            <th>เลขที่ Inv.</th>
                            <th>สถานะ</th>
                            <th>Doc. Type</th>
                            <th>Doc. No.</th>
                            <th>PO</th>
                            <th>Cus Code</th>
                            <th>Ship To</th>
                            <th>ที่อยู่ผู้รับ</th>

                            <th>Appt. Date</th>
                            <th>CBM</th>
                            <th>Carton</th>
                            <th>Weight (kg.)</th>

                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let i of listFormModel | paginate: { itemsPerPage: 50, currentPage: p }; let idx = index">
                            <td>
                                <div class="w20">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="i.isSelected" />
                                        <span></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="w30">
                                    {{idx+1}}
                                </div>
                            </td>
                            <td style="cursor: pointer !important;">
                                <div class="w100">
                                    {{i.InvoiceNo}}
                                </div>
                            </td>
                            <td style="padding: 0 0 0 0 !important;">
                                <div *ngIf="i.OrderStatusDesc == 'ยืนยันแล้ว'" class="w100"
                                    style="background-color: rgb(154, 254, 154); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>
                                <div *ngIf="i.OrderStatusDesc == 'รอยืนยันใบคุมรถ'" class="w100"
                                    style="background-color: rgb(247, 131, 131); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>
                                <div *ngIf="i.OrderStatusDesc == 'ระหว่างจัดส่งสินค้า'" class="w100"
                                    style="background-color: rgb(247, 232, 131); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>

                                <div *ngIf="i.OrderStatusDesc != 'รอยืนยันใบคุมรถ' && i.OrderStatusDesc != 'ยืนยันแล้ว' && i.OrderStatusDesc != 'ระหว่างจัดส่งสินค้า' "
                                    class="w100"
                                    style="background-color: rgb(218, 131, 247); height: 42px; padding-top: 10px;">
                                    {{i.OrderStatusDesc}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.OrderType}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.OrderNo}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.PurchaseNo}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.ShiptoCode}}
                                </div>
                            </td>
                            <td>
                                <div class="w200">
                                    {{i.ShiptoName}}
                                </div>
                            </td>
                            <td>
                                <div class="w600">
                                    {{i.Address}}
                                </div>
                            </td>

                            <td>
                                <div class="w100">
                                    {{i.OrderEstimateStr}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.CBM}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Qty}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Weight}}
                                </div>
                            </td>

                            <td>
                                <div class="w300">
                                    {{i.Comment}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col s3">
                    <div class="row" style="margin-top: 10px;">
                        <cbtn [label]="'เพิ่มงานขนส่ง'" [color]="'blue'" [icon]="''" (click)="addOrder()"></cbtn>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row" style="margin-top: 10px;">
                        <cbtn [label]="'ออก'" [color]="'red'" [icon]="''" (click)="backToMain()"></cbtn>
                    </div>
                </div>

                <div class="col s7">
                    <div style="text-align: right;">
                        <pagination-controls (pageChange)="p = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป">
                        </pagination-controls>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>