<!-- Start Order Transport Main Page -->
<div *ngIf="isMainPage">
    <!-- Start Order Transport Form -->
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <div class="col l8 s12">
                        <span class="card-panel-header-span">
                            งานขนส่ง / สร้างใบคุมรถ
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down reset-margin-top">
            <div class="row">
                <div class="col l4 s12 p-0">
                    <citxt
                        (cModel)="criteriaModel.TransportNo = $event"
                        [label]="'เลขที่ใบคุม'"
                        [data]="criteriaModel.TransportNo"
                        [readonly]="true">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0">
                    <citxt
                        (cModel)="criteriaModel.TransportTypeDescription = $event"
                            [label]="'Type of Work'"
                            [data]="criteriaModel.TransportTypeDescription"
                            [readonly]="true"
                            (click)="chooseTypeOfWork()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0">
                    <cdp
                        (cModel)="criteriaModel.TransportDateString = $event"
                        [label]="'วันที่เอกสาร'"
                        [data]="criteriaModel.TransportDateString">
                    </cdp>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.Plant = $event"
                        [label]="'Plant'"
                        [data]="criteriaModel.Plant">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.ShipmentNo = $event"
                        [label]="'Shipment No.'"
                        [data]="criteriaModel.ShipmentNo"
                        [readonly]="true">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.Remark = $event"
                        [label]="'หมายเหตุ'"
                        [data]="criteriaModel.Remark">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.RouteDescription = $event"
                        [label]="'Route'"
                        [data]="criteriaModel.RouteDescription"
                        [readonly]="true"
                        (click)="chooseRoute()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.SubRouteDescription = $event"
                        [label]="'SubRoute'"
                        [data]="criteriaModel.SubRouteDescription"
                        [readonly]="true"
                        (click)="chooseSubRoute()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.Region = $event"
                        [label]="'โซน'"
                        [data]="criteriaModel.Region"
                        [readonly]="true"
                        (click)="chooseRegion()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.TransportDescription = $event"
                        [label]="'บริษัทขนส่ง'"
                        [data]="criteriaModel.TransportDescription"
                        [readonly]="true"
                        (click)="chooseTransport()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.DriverDescription = $event"
                        [label]="'ชื่อคนขับ'"
                        [data]="criteriaModel.DriverDescription"
                        [readonly]="true"
                        (click)="chooseDriver()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.DriverMobile = $event"
                        [label]="'เบอร์โทรศัพท์คนขับ'"
                        [data]="criteriaModel.DriverMobile"
                        [readonly]="true"
                        (click)="chooseDriver()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.VehicleTypeDescription = $event"
                        [label]="'Truck Type'"
                        [data]="criteriaModel.VehicleTypeDescription"
                        [readonly]="true"
                        (click)="chooseVehicleType()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.VehicleDescription = $event"
                        [label]="'ทะเบียนรถ'"
                        [data]="criteriaModel.VehicleDescription"
                        [readonly]="true"
                        (click)="chooseVehicle()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.ReceiveFromDescription = $event"
                        [label]="'สถานที่รับสินค้า'"
                        [data]="criteriaModel.ReceiveFromDescription"
                        [readonly]="true"
                        (click)="chooseReceiveFrom()">
                    </citxt>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <citxt
                        (cModel)="criteriaModel.TransportShiptoDescription = $event"
                        [label]="'สถานที่ส่งสินค้า HUB'"
                        [data]="criteriaModel.TransportShiptoDescription"
                        [readonly]="true"
                        (click)="chooseTransportShipTo()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <ctxta
                        (cModel)="criteriaModel.ReceiveFromAddress = $event"
                        [label]="''"
                        [data]="criteriaModel.ReceiveFromAddress">
                    </ctxta>
                </div>
                <div class="col l4 s12 p-0 margin-top-minus-20">
                    <ctxta
                        (cModel)="criteriaModel.TransportShiptoAddress = $event"
                        [label]="''"
                        [data]="criteriaModel.TransportShiptoAddress">
                    </ctxta>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only reset-margin-top">
            <div class="row">
                <div class="col s12">
                    <citxt
                        (cModel)="criteriaModel.TransportNo = $event"
                        [label]="'เลขที่ใบคุม'"
                        [data]="criteriaModel.TransportNo"
                        [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.TransportDescription = $event"
                        [label]="'บริษัทขนส่ง'"
                        [data]="criteriaModel.TransportDescription"
                        [readonly]="true"
                        (click)="chooseTransport()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.ReceiveFromDescription = $event"
                        [label]="'สถานที่รับสินค้า'"
                        [data]="criteriaModel.ReceiveFromDescription"
                        [readonly]="true"
                        (click)="chooseReceiveFrom()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <ctxta
                        (cModel)="criteriaModel.ReceiveFromAddress = $event"
                        [label]="''"
                        [data]="criteriaModel.ReceiveFromAddress">
                    </ctxta>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <cdp
                        (cModel)="criteriaModel.TransportDateString = $event"
                        [label]="'วันที่เอกสาร'"
                        [data]="criteriaModel.TransportDateString">
                    </cdp>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.RouteDescription = $event"
                        [label]="'Route'"
                        [data]="criteriaModel.RouteDescription"
                        [readonly]="true"
                        (click)="chooseRoute()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.SubRouteDescription = $event"
                        [label]="'SubRoute'"
                        [data]="criteriaModel.SubRouteDescription"
                        [readonly]="true"
                        (click)="chooseSubRoute()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.TransportTypeDescription = $event"
                        [label]="'Type of Work'"
                        [data]="criteriaModel.TransportTypeDescription"
                        [readonly]="true"
                        (click)="chooseTypeOfWork()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.TransportShiptoDescription = $event"
                        [label]="'สถานที่ส่งสินค้า HUB'"
                        [data]="criteriaModel.TransportShiptoDescription"
                        [readonly]="true"
                        (click)="chooseTransportShipTo()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <ctxta
                        (cModel)="criteriaModel.TransportShiptoAddress = $event"
                        [label]="''"
                        [data]="criteriaModel.TransportShiptoAddress">
                    </ctxta>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.DriverDescription = $event"
                        [label]="'ชื่อคนขับ'"
                        [data]="criteriaModel.DriverDescription"
                        [readonly]="true"
                        (click)="chooseDriver()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.Plant = $event"
                        [label]="'Plant'"
                        [data]="criteriaModel.Plant">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.VehicleDescription = $event"
                        [label]="'ทะเบียนรถ'"
                        [data]="criteriaModel.VehicleDescription"
                        [readonly]="true"
                        (click)="chooseVehicle()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.ShipmentNo = $event"
                        [label]="'Shipment No.'"
                        [data]="criteriaModel.ShipmentNo"
                        [readonly]="true">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.Remark = $event"
                        [label]="'หมายเหตุ'"
                        [data]="criteriaModel.Remark">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.VehicleTypeDescription = $event"
                        [label]="'Truck Type'"
                        [data]="criteriaModel.VehicleTypeDescription"
                        [readonly]="true"
                        (click)="chooseVehicleType()">
                    </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt
                        (cModel)="criteriaModel.Mobile = $event"
                        [label]="'เบอร์โทรศัพท์คนขับ'"
                        [data]="criteriaModel.Mobile"
                        [readonly]="true"
                        (click)="chooseDriver()">
                    </citxt>
                </div>
            </div>
        </div>
    </div>
    <!-- End Order Transport Form -->

    <!-- Start Order Transport Table -->
    <div class="col s12">
        <div class="card-panel table-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        งานขนส่ง
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel reset-margin-top">
            <div class="overflow-x">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>เลขที่ Inv.</th>
                            <th>สถานะ</th>
                            <th>Doc. Type</th>
                            <th>Doc. No.</th>
                            <th>PO</th>
                            <th>Cus Code</th>
                            <th>Ship To</th>
                            <th>ที่อยู่ผู้รับ</th>
                            <th>Invoice Date</th>
                            <th>Appt. Date</th>
                            <th>CBM</th>
                            <th>Carton</th>
                            <th>Weight (kg.)</th>
                            <th>หมายเหตุ</th>
                            <th>คำสั่ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listModel | paginate: { itemsPerPage: 50, currentPage: currentPage }; let idx = index">
                            <td class="min-width-30">
                                {{idx+1}}
                            </td>
                            <td class="w100 cursor-pointer">
                                {{i.InvoiceNo}}
                            </td>
                            <td class="min-width-100 reset-padding">
                                <div class="status-box {{statusOrderClassify(i.OrderStatus)}}">
                                    {{i.OrderStatusDesc}}
                                </div>
                            </td>
                            <td class="min-width-100">
                                {{i.OrderType}}
                            </td>
                            <td class="min-width-100">
                                {{i.OrderNo}}
                            </td>
                            <td class="min-width-100">
                                {{i.PurchaseNo}}
                            </td>
                            <td class="min-width-100">
                                {{i.ShiptoCode}}
                            </td>
                            <td class="min-width-200">
                                {{i.ShiptoName}}
                            </td>
                            <td class="min-width-600">
                                {{i.ShiptoAdress}}
                            </td>
                            <td class="min-width-100">
                                {{i.InvoiceDateStr}}
                            </td>
                            <td class="min-width-100">
                                {{i.OrderEstimateStr}}
                            </td>
                            <td class="min-width-100">
                                {{i.CBM}}
                            </td>
                            <td class="min-width-100">
                                {{i.Qty}}
                            </td>
                            <td class="min-width-100">
                                {{i.Weight}}
                            </td>
                            <td class="min-width-300">
                                {{i.Comment}}
                            </td>
                            <div class="w100">
                                <a class="btn-floating red cursor-pointer" (click)="deleteOrder(idx)">
                                    <i class="medium material-icons">delete</i>
                                </a>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col s3">
                    <div class="row margin-top-10">
                        <cbtn
                            [label]="'เพิ่มงานขนส่ง'"
                            [color]="'blue'"
                            [icon]="''" (click)="add()">
                        </cbtn>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row margin-top-10">
                        <cbtn *ngIf="id == 'new'"
                            [label]="'บันทึกข้อมูล'"
                            [color]="'green'"
                            [icon]="''" (click)="create()">
                        </cbtn>
                        <cbtn *ngIf="id != 'new'"
                            [label]="'อัพเดทข้อมูล'"
                            [color]="'green'"
                            [icon]="''" (click)="edit()">
                        </cbtn>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row margin-top-10">
                        <cbtn
                            [label]="'ยืนยันใบคุม'"
                            [color]="'blue'"
                            [icon]="''" (click)="confirm()">
                        </cbtn>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row margin-top-10">
                        <cbtn *ngIf="GroupCode == 'S'"
                            [label]="'ปิดงาน'"
                            [color]="'orange'"
                            [icon]="''" (click)="closeJob()">
                        </cbtn>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row margin-top-10">
                        <cbtn
                            [label]="'ปิดหน้าจอ'"
                            [color]="'grey'"
                            [icon]="''" (click)="close()">
                        </cbtn>
                    </div>
                </div>
                <div class="text-right">
                    <pagination-controls
                        (pageChange)="currentPage = $event"
                        previousLabel="ก่อนหน้า"
                        nextLabel="ถัดไป">
                    </pagination-controls>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Order Transport Table -->
<!-- Start Add Order Transport Form -->
<div *ngIf="isFormPage">
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="col l8 s12">
                <span class="card-panel-header-span">
                    งานขนส่ง / สร้างใบคุมรถ / เพิ่มงานขนส่ง
                </span>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down reset-margin-top">
            <div class="row">
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.OrderNo = $event"
                    [label]="'Doc No.'"
                    [data]="formModel.OrderNo" (keydown)="readOrder($event)">
                </citxt>
                </div>
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.ShiptoDescription = $event"
                    [label]="'ชื่อผู้รับ'"
                    [data]="formModel.ShiptoDescription"
                    [readonly]="true" (click)="chooseShipTo()">
                </citxt>
                </div>
                <div class="col l4 s12">
                    <citxt (cModel)="formModel.ShiptoAddress = $event"
                    [label]="'ที่อยู่ผู้รับ'"
                    [data]="formModel.ShiptoAddress"
                    [readonly]="true" (click)="chooseShipTo()">
                </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 margin-top-minus-20">
                    <citxt (cModel)="formModel.InvoiceNo = $event"
                    [label]="'เลขที่อินวอยน์'"
                    [data]="formModel.InvoiceNo"  (keydown)="readOrder($event)">
                </citxt>
                </div>
                <div class="col l4 s12 margin-top-minus-20">
                    <cdp (cModel)="formModel.OrderDateString = $event"
                    [label]="'วันที่เอกสาร'"
                    [data]="formModel.OrderDateString">
                </cdp>
                </div>
                <div class="col l4 s12 margin-top-minus-20">
                    <citxt (cModel)="formModel.StatusDescription = $event"
                    [label]="'สถานะ'"
                    [data]="formModel.StatusDescription"
                    [readonly]="true" (click)="chooseStatus()">
                </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l8 s12 p-0 margin-bottom-5">
                </div>
                <div class="col l4 s12 p-0 text-right margin-bottom-5">
                    <cbtn
                    [label]="'ล้าง'"
                    [color]="'red'"
                    [icon]="'clear'" (click)="clear()">
                </cbtn>
                    <cbtn
                    [label]="'ค้นหา'"
                    [color]="'blue'"
                    [icon]="'search'" (click)="readOrder('')">
                </cbtn>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only reset-margin-top">
            <div class="row">
                <div class="col s12">
                    <citxt (cModel)="formModel.OrderNo = $event"
                    [label]="'Doc No.'"
                    [data]="formModel.OrderNo" (keydown)="readOrder($event)">
                </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="formModel.ShiptoDescription = $event"
                    [label]="'ชื่อผู้รับ'"
                    [data]="formModel.ShiptoDescription"
                    [readonly]="true" (click)="chooseShipTo()">
                </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="formModel.ShiptoAddress = $event"
                    [label]="'ที่อยู่ผู้รับ'"
                    [data]="formModel.ShiptoAddress"
                    [readonly]="true" (click)="chooseShipTo()">
                </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="formModel.InvoiceNo = $event"
                    [label]="'เลขที่อินวอยน์'"
                    [data]="formModel.InvoiceNo" (keydown)="readOrder($event)">
                </citxt>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <cdp (cModel)="formModel.OrderDateString = $event"
                    [label]="'วันที่เอกสาร'"
                    [data]="formModel.OrderDateString">
                </cdp>
                </div>
                <div class="col s12 margin-top-mminus-10">
                    <citxt (cModel)="formModel.StatusDescription = $event"
                    [label]="'สถานะ'"
                    [data]="formModel.StatusDescription"
                    [readonly]="true" (click)="chooseStatus()">
                </citxt>
                </div>
                <div class="col s12 p-0 margin-bottom-5">
                    <cbtnl
                    [label]="'ล้าง'"
                    [color]="'red'"
                    [icon]="'clear'" (click)="clear()">
                </cbtnl>
                </div>
                <div class="col s12 p-0 margin-bottom-5">
                    <cbtnl
                    [label]="'ค้นหา'"
                    [color]="'blue'"
                    [icon]="'search'" (click)="readOrder('')">
                </cbtnl>
                </div>
            </div>
        </div>
    </div>
    <!-- End Add Order Transport Form -->
    <!-- Start Add Order Transport Table -->
    <div class="col s12">
        <div class="card-panel table-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        รายการข้อมูล
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel reset-margin-top">
            <div class="overflow-x">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>
                                <span class="header-checkbox">
                                    <label>
                                        <input type="checkbox"
                                        [(ngModel)]="itemSelected"
                                            (change)="checkUncheckAll()"/>
                                        <span class="padding-left-20">
                                        </span>
                                    </label>
                                </span>
                            </th>
                            <th>ลำดับ</th>
                            <th>เลขที่ Inv.</th>
                            <th>สถานะ</th>
                            <th>Doc. Type</th>
                            <th>Doc. No.</th>
                            <th>PO</th>
                            <th>Cus Code</th>
                            <th>Ship To</th>
                            <th>ที่อยู่ผู้รับ</th>
                            <th>Invoice Date</th>
                            <th>Appt. Date</th>
                            <th>CBM</th>
                            <th>Carton</th>
                            <th>Weight (kg.)</th>
                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listFormModel | paginate: { itemsPerPage: 50, currentPage: currentPage }; let idx = index">
                            <td class="min-width-20">
                                <label>
                                    <input type="checkbox"
                                    [(ngModel)]="i.isSelected" />
                                </label>
                            </td>
                            <td class="min-width-30">
                                {{idx+1}}
                            </td>
                            <td class="min-width-100 cursor-pointer">
                                {{i.InvoiceNo}}
                            </td>
                            <td class="min-width-100 reset-padding">
                                <div class="status-box {{statusOrderClassify(i.OrderStatus)}}">
                                    {{i.OrderStatusDesc}}
                                </div>
                            </td>
                            <td class="min-width-100">
                                {{i.OrderType}}
                            </td>
                            <td class="min-width-100">
                                {{i.OrderNo}}
                            </td>
                            <td class="min-width-100">
                                {{i.PurchaseNo}}
                            </td>
                            <td class="min-width-100">
                                {{i.ShiptoCode}}
                            </td>
                            <td class="min-width-200">
                                {{i.ShiptoName}}
                            </td>
                            <td class="w600">
                                {{i.Address}}
                            </td>
                            <td class="min-width-100">
                                {{i.InvoiceDateStr}}
                            </td>
                            <td class="min-width-100">
                                {{i.OrderEstimateStr}}
                            </td>
                            <td class="min-width-100">
                                {{i.CBM}}
                            </td>
                            <td class="min-width-100">
                                {{i.Qty}}
                            </td>
                            <td class="min-width-100">
                                {{i.Weight}}
                            </td>
                            <td class="min-width-300">
                                {{i.Comment}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col s3">
                    <div class="row margin-top-10">
                        <cbtn
                            [label]="'เพิ่มงานขนส่ง'"
                            [color]="'blue'"
                            [icon]="''"
                            (click)="addOrder()">
                        </cbtn>
                    </div>
                </div>
                <div class="col s2">
                    <div class="row margin-top-10">
                        <cbtn
                            [label]="'ออก'"
                            [color]="'red'"
                            [icon]="''"
                            (click)="backToMain()">
                        </cbtn>
                    </div>
                </div>
                <div class="col s7">
                    <div class="text-right">
                        <pagination-controls
                            (pageChange)="currentPage = $event"
                            previousLabel="ก่อนหน้า"
                            nextLabel="ถัดไป">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Order Transport Main Page -->