<div *ngIf="isMainPage">
    <div class="col s12">
        <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l8 s12">
                    <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        <b>ทะเบียน / ผู้ใช้งาน</b>
                    </span>
                </div>
            </div>

        </div>
        <!-- [hidden]="isAdvanceSearch" -->
        <div class="card-panel hide-on-med-and-down" style="margin-top: 0px;">
            <div class="row">
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.UserName = $event" [label]="'รหัสเข้าระบบ'" [data]="criteriaModel.UserName"></citxt>
                </div>
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.FirstName = $event" [label]="'ชื่อ'" [data]="criteriaModel.FirstName"></citxt>
                </div>
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.Mobile = $event" [label]="'เบอร์โทร'" [data]="criteriaModel.Mobile"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.GroupName = $event" [label]="'กลุ่มผู้ใช้งาน'" [data]="criteriaModel.GroupName" [readonly]="true" (click)="chooseGroupUser()"></citxt>
                </div>
            </div>


            <div class="row">
                <div class="col l8 s12 p-0" style="margin-bottom: 5px;"></div>
                <div class="col l4 s12 p-0 text-right" style="margin-bottom: 5px;">
                    <cbtn [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtn>
                    <cbtn [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="read()"></cbtn>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only" style="margin-top: 0px;">
            <div class="row">
                

            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l2 s12">
                    <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        <b>รายการข้อมูล</b>
                    </span>
                </div>
                <div class="col l8 s12">
                </div>
            </div>
        </div>
        <div class="card-panel" style="margin-top: 0px;">
            <div style="overflow-x: auto;">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>รหัสเข้าระบบ</th>
                            <th>ชื่อ</th>
                            <th>นามสกุล</th>
                            <th>กลุ่มผู้ใช้งาน</th>
                            <th>เบอร์โทร</th>
                            <th>อีเมล์</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listModel | paginate: { itemsPerPage: 10, currentPage: p };; let idx = index">
                            <td>
                                <div class="w100">
                                    {{i.UserName}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.FirstName}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.LastName}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.GroupName}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Mobile}}
                                </div>
                            </td>
                            <td>
                                <div class="w100">
                                    {{i.Email}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col s6">
                </div>
                <div class="col s6">
                    <div style="text-align: right;">
                        <pagination-controls (pageChange)="p = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป"></pagination-controls>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div *ngIf="isFormPage">

</div>