<div *ngIf="isMainPage">
    <div class="col s12">
        <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
                <div class="col l8 s12">
                    <!-- <i class="material-icons header-icon">
                        filter_list
                    </i> -->
                    <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                        <b>งานขนส่ง / สร้างงานขนส่ง</b>
                    </span>
                </div>
            </div>

        </div>
        <!-- [hidden]="isAdvanceSearch" -->

        <!-- {{criteriaModel|json}} -->
        <div class="card-panel hide-on-med-and-down" style="margin-top: 0px;">
            <div class="row">
                <div class="col l4 s12 p-0">
                    <citxt (cModel)="criteriaModel.OrderNo = $event" [label]="'Doc No.'" [data]="criteriaModel.OrderNo" [readonly]="true"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.InvoiceNo = $event" [label]="'Invoice No.'" [data]="criteriaModel.InvoiceNo"></citxt>
                </div>
                <div class="col l2 s12 p-0" style="margin-top: -20px;">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.Comment = $event" [label]="'หมายเหตุ'" [data]="criteriaModel.Comment">
                    </citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <cdp (cModel)="criteriaModel.OrderDate = $event" [label]="'วันที่ออกเอกสาร'" [data]="criteriaModel.OrderDate"></cdp>
                </div>
                <div class="col l2 s12 p-0" style="margin-top: -20px;">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.ReferenceNo = $event" [label]="'Reference No.'" [data]="criteriaModel.ReferenceNo"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.OrderTypeDescription = $event" [label]="'ประเภทเอกสาร'" [data]="criteriaModel.OrderTypeDescription" [readonly]="true" (click)="chooseJobType()"></citxt>
                </div>
                <div class="col l2 s12 p-0" style="margin-top: -20px;">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.PurchaseNo = $event" [label]="'PO No.'" [data]="criteriaModel.PurchaseNo"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <cdp (cModel)="criteriaModel.OrderEstimate = $event" [label]="'Appt. Date'" [data]="criteriaModel.OrderEstimate"></cdp>
                </div>
                <div class="col l2 s12 p-0" style="margin-top: -20px;">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.Qty = $event" [label]="'Carton'" [data]="criteriaModel.Qty"></citxt>
                </div>

            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.OwnerDescription = $event" [label]="'เจ้าของงาน'" [data]="criteriaModel.OwnerDescription" [readonly]="true" (click)="chooseOwner()"></citxt>
                </div>
                <div class="col l2 s12 p-0" style="margin-top: -20px;">
                    <h1>&nbsp;</h1>
                </div>

                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.UoM = $event" [label]="'UoM'" [data]="criteriaModel.UoM"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.ShiptoDescription = $event" [label]="'ผู้รับ'" [data]="criteriaModel.ShiptoDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col l2 s12 p-0" style="margin-top: -20px;">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.CBM = $event" [label]="'CBM'" [data]="criteriaModel.CBM"></citxt>
                </div>
            
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.ShiptoMobile = $event" [label]="'โทรศัพท์ผู้รับ'" [data]="criteriaModel.ShiptoMobile" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col l2 s12 p-0" style="margin-top: -20px;">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.Weight = $event" [label]="'Weight'" [data]="criteriaModel.Weight"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="criteriaModel.ShiptoAddress" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'เส้นทางหลัก'" [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
            </div>

            <div class="row">
                <div class="col l4 s12 p-0" style="margin-top: -20px;">
                    <citxt (cModel)="criteriaModel.SubRouteDescription = $event" [label]="'เส้นทางย่อย'" [data]="criteriaModel.SubRouteDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col l8 s12 p-0" style="margin-bottom: 5px;"></div> -->
                <!-- <div class="col l2 s12 p-0" style="margin-bottom: 5px;">
                   
                </div> -->
                <div class="col l12 s12 p-0 text-center" style="margin-bottom: 5px;">
                    <!-- <cbtn [label]="'บันทึก'" [color]="'blue'" [icon]="''" (click)="create()"></cbtn> -->
                    <cbtn *ngIf="id == 'new'" [label]="'บันทึกข้อมูล'" [color]="'blue'" [icon]="''" (click)="create()"></cbtn>
                    <cbtn *ngIf="id != 'new'" [label]="'อัพเดทข้อมูล'" [color]="'blue'" [icon]="''" (click)="update()"></cbtn>
                    <!-- <cbtn [label]="'ออก'" [color]="'red'" [icon]="''" (click)="clear()"></cbtn> -->
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-large-only" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.OrderNo = $event" [label]="'Doc No.'" [data]="criteriaModel.OrderNo" [readonly]="true"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.InvoiceNo = $event" [label]="'Invoice No.'" [data]="criteriaModel.InvoiceNo"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.Comment = $event" [label]="'หมายเหตุ'" [data]="criteriaModel.Comment"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <cdp (cModel)="criteriaModel.OrderDate = $event" [label]="'วันที่ออกเอกสาร'" [data]="criteriaModel.OrderDate"></cdp>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.ReferenceNo = $event" [label]="'Reference No.'" [data]="criteriaModel.ReferenceNo"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.OrderTypeDescription = $event" [label]="'ประเภทเอกสาร'" [data]="criteriaModel.OrderTypeDescription" [readonly]="true" (click)="chooseJobType()"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.PurchaseNo = $event" [label]="'PO No.'" [data]="criteriaModel.PurchaseNo"></citxt>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <cdp (cModel)="criteriaModel.OrderEstimate = $event" [label]="'Appt. Date'" [data]="criteriaModel.OrderEstimate"></cdp>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.CBM = $event" [label]="'CBM'" [data]="criteriaModel.CBM"></citxt>
                </div>

                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.OwnerDescription = $event" [label]="'เจ้าของงาน'" [data]="criteriaModel.OwnerDescription" [readonly]="true" (click)="chooseOwner()"></citxt>
                </div>

                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.ShiptoDescription = $event" [label]="'ผู้รับ'" [data]="criteriaModel.ShiptoDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>

                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.ShiptoMobile = $event" [label]="'โทรศัพท์ผู้รับ'" [data]="criteriaModel.ShiptoMobile" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>

                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.ShiptoAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="criteriaModel.ShiptoAddress" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>

                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'เส้นทางหลัก'" [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>

                <div class="col s12" style="margin-top: -10px;">
                    <citxt (cModel)="criteriaModel.SubRouteDescription = $event" [label]="'เส้นทางย่อย'" [data]="criteriaModel.SubRouteDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.UoM = $event" [label]="'UoM'" [data]="criteriaModel.UoM"></citxt>
                </div>
                <div class="col s12">
                    <citxt (cModel)="criteriaModel.Qty = $event" [label]="'Carton'" [data]="criteriaModel.Qty"></citxt>
                </div>

                <div class="col s12">
                    <citxt (cModel)="criteriaModel.Weight = $event" [label]="'Weight'" [data]="criteriaModel.Weight"></citxt>
                </div>




                <div class="col s12 p-0" style="margin-bottom: 5px;">
                    <!-- <cbtnl [label]="'บันทึก'" [color]="'blue'" [icon]="''" (click)="create()"></cbtnl> -->
                    <cbtn *ngIf="id == 'new'" [label]="'บันทึกข้อมูล'" [color]="'blue'" [icon]="''" (click)="create()"></cbtn>
                    <cbtn *ngIf="id != 'new'" [label]="'อัพเดทข้อมูล'" [color]="'blue'" [icon]="''" (click)="update()"></cbtn>
                </div>
                <div class="col s12 p-0" style="margin-bottom: 5px;">
                    <!-- <cbtnl [label]="'กลับ'" [color]="'red'" [icon]="''" (click)="clear()"></cbtnl> -->
                </div>
            </div>
        </div>
    </div>
</div>