<!-- <div class="text-right" [ngClass]="{'text-right': position == '' , 'text-left': position == 'left'}"> -->
<a class="btn waves-effect waves-light gradient-45deg-purple-deep-orange custom-button"
    [ngClass]="{'gradient-45deg-purple-deep-orange': color == '' ,
        'amber lighten-1': color == 'yellow',
        'green accent-2': color == 'green',
        'grey lighten-1': color == 'grey',
        'light-blue lighten-1': color == 'blue',
        'red lighten-1': color == 'red',
        'blue accent-4': color == 'blue1',
        'orange lighten-1': color == 'orange'}">
    <i class="material-icons custom-button-icon">
        {{icon}}
    </i>
        {{label}}
</a>
<!-- </div> -->