<!-- Start Main Page -->
<div *ngIf="isMainPage">
    <!-- Start Shiplocation Filter -->
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        ทะเบียน / สถานที่รับ-ส่งสินค้า
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down mt-0">
            <div class="row">
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.Code = $event" [label]="'รหัส'" [data]="criteriaModel.Code">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.Address = $event" [label]="'สถานที่ (Address)'" [data]="criteriaModel.Address">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0">
                    <citxt (cModel)="criteriaModel.Mobile = $event" [label]="'เบอร์โทร'" [data]="criteriaModel.Mobile">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l3 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.ContractName = $event" [label]="'ชื่อผู้ติดต่อ'" [data]="criteriaModel.ContractName">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0 mtm-20">
                    <citxt (cModel)="criteriaModel.RouteDescription = $event" [label]="'เส้นทางหลัก'" [data]="criteriaModel.RouteDescription" [readonly]="true" (click)="chooseMainRouteFilter()">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0 ml-130 mtm-30">
                    <ccb (cModel)="criteriaModel.IsHub = $event" [label]="'HUB'" [data]="criteriaModel.IsHub">
                    </ccb>
                </div>
            </div>
            <div class="row">
                <div class="col l8 s12 p-0 mb-5px"></div>
                <div class="col l4 s12 p-0 text-right mb-5px">
                    <cbtn [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clearAndReloadData()">
                    </cbtn>
                    <cbtn [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="render()">
                    </cbtn>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shiplocation Filter -->

    <!-- Start Shiplocation Table Page -->
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <!-- <span class="card-panel-header-span">
                        รายการข้อมูล
                    </span> -->

                    <label class="table-panel-header-span">
                        ข้อมูล {{numberWithCommas(listModel.length)}} รายการ
                    </label>
                </div>
            </div>
        </div>
        <div class="card-panel mt-0">
            <div class="overflow-x">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>รหัสระบบ</th>
                            <th>รหัส</th>
                            <th>ชื่อ</th>
                            <th>ที่อยู่</th>
                            <th>ชื่อผู้ติดต่อ</th>
                            <th>เบอร์โทร</th>
                            <th>โซน</th>
                            <th>เส้นทางหลัก</th>
                            <th>เส้นทางย่อย</th>
                            <th>จังหวัด</th>
                            <th>อำเภอ</th>
                            <th>รหัสไปรษณีย์</th>
                            <th>ละติจูด-ลองติจูด</th>
                            <th>คำสั่ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listModel | paginate: { itemsPerPage: 10, currentPage: currentPage }; let idx = index">
                            <td class="min-width-60">
                                {{i.Id}}
                            </td>
                            <td class="min-width-60">
                                {{i.Code}}
                            </td>
                            <td class="min-width-150">
                                {{i.CustomerName}}
                            </td>
                            <td class="w250">
                                {{i.Address}}
                            </td>
                            <td class="w100">
                                {{i.ContractName}}
                            </td>
                            <td class="w100">
                                {{i.Mobile}}
                            </td>
                            <td class="w100">
                                {{i.Region}}
                            </td>
                            <td class="w100">
                                {{i.Route}}
                            </td>
                            <td class="w100">
                                {{i.SubRoute}}
                            </td>
                            <td class="w100">
                                {{i.Province}}
                            </td>
                            <td class="w100">
                                {{i.District}}
                            </td>
                            <td class="w100">
                                {{i.PostCode}}
                            </td>
                            <td class="w100">
                                {{i.Latitude}}, {{i.Longtitude}}
                            </td>
                            <td class="min-width-100">
                                <a class="btn-floating blue cursor-pointer" (click)="setForm(i)">
                                    <i class="medium material-icons">edit</i>
                                </a>&nbsp;
                                <a class="btn-floating red cursor-pointer" (click)="delete(i)">
                                    <i class="medium material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <div class="col s6 mt-10px">
                            <cbtn [label]="'สร้าง'" [color]="'blue'" [icon]="'add'" (click)="addForm()">
                            </cbtn>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="text-right">
                        <pagination-controls (pageChange)="currentPage = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Shiplocation Table Page -->
</div>
<!-- End Main Page -->

<!-- Start Add Shiplocation Page -->
<div *ngIf="isFormPage">
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="col l8 s12 card-panel-header-span">
                        ทะเบียน / ผู้ใช้งาน / รายละเอียด
                    </span>
                </div>
            </div>
        </div>
        <!-- Start Add Shiplocation Form -->
        <div class="card-panel hide-on-med-and-down mt-0">
            <div class="row">
                <div class="col l4 s12">
                    <citxt (cModel)="headerModel.Code = $event" [label]="'รหัส'" [data]="headerModel.Code">
                    </citxt>
                </div>
                <div class="col l4 s12">
                    <!-- <citxt (cModel)="headerModel.Active = $event" [label]="'สถานะ'" [data]="headerModel.Active"
                        [readonly]="true"></citxt> -->
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.CustomerName = $event" [label]="'ชื่อ'" [data]="headerModel.CustomerName">
                    </citxt>
                </div>
                <div class="col l4 s12 mtm-20">
                    <ctxta (cModel)="headerModel.Address = $event" [label]="'ที่อยู่'" [data]="headerModel.Address">
                    </ctxta>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.ContractName = $event" [label]="'ชื่อผู้ติดต่อ'" [data]="headerModel.ContractName">
                    </citxt>
                </div>
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.Mobile = $event" [label]="'เบอร์โทร'" [data]="headerModel.Mobile">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.Province = $event" [label]="'จังหวัด'" [data]="headerModel.Province" [readonly]="true" (click)="chooseProvince()">
                    </citxt>
                </div>
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.District = $event" [label]="'อำเภอ'" [data]="headerModel.District" [readonly]="true" (click)="chooseDistrict()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.PostCode = $event" [label]="'รหัสไปรษณีย์'" [data]="headerModel.PostCode">
                    </citxt>
                </div>
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.Region = $event" [label]="'โซน'" [data]="headerModel.Region" [readonly]="true" (click)="chooseRegion()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.Route = $event" [label]="'เส้นทางหลัก'" [data]="headerModel.Route" [readonly]="true" (click)="chooseMainRoute()">
                    </citxt>
                </div>
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.SubRoute = $event" [label]="'เส้นทางย่อย'" [data]="headerModel.SubRoute" [readonly]="true" (click)="chooseSubRoute()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.Latitude = $event" [label]="'ละติจูด'" [data]="headerModel.Latitude">
                    </citxt>
                </div>
                <div class="col l4 s12 mtm-20">
                    <citxt (cModel)="headerModel.Longtitude = $event" [label]="'ลองติจูด'" [data]="headerModel.Longtitude">
                    </citxt>
                </div>
            </div>
            <div>
                <div class="col l4 s12 mtm-20 ml-225">
                    <ccb (cModel)="headerModel.Hub = $event" [label]="'HUB'" [data]="headerModel.Hub"></ccb>
                </div>
            </div>
            <div class="row">
                <!-- Hidden -->
                <div class="row" hidden="true">
                    <div class="col l4 s12">
                        <citxt (cModel)="headerModel.Id = $event" [label]="'รหัสระบบ'" [data]="headerModel.Id" [readonly]="true">
                        </citxt>
                    </div>
                </div>
            </div>
            <!-- Save and Back Button-->
            <div class="row">
                <div class="col l4 s12 p-0 mb-5px"></div>
                <div class="col l4 s12 p-0 text-right mb-5px">
                    <cbtn [label]="'บันทึก'" [color]="'blue'" [icon]="'save'" (click)="save()">
                    </cbtn>
                    <cbtn [label]="'กลับ'" [color]="'grey'" [icon]="'keyboard_backspace'" (click)="backToMainPage()">
                    </cbtn>
                </div>
            </div>
            <!-- End Save and Back Button-->
        </div>
        <!-- End Add Shiplocation Form -->
    </div>
</div>
<!-- Start Add Shiplocation Page -->