<!-- Start Main Page -->
<div *ngIf="isMainPage">
    <!-- Start Subroute Filter -->
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        ทะเบียน / เส้นทางย่อย
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel hide-on-med-and-down reset-margin-top">
            <div class="row">
                <div class="col l3 s12 p-0">
                    <citxt
                        (cModel)="criteriaModel.RouteDescription = $event" 
                        [label]="'เส้นทางหลัก'"
                        [data]="criteriaModel.RouteDescription"
                        [readonly]="true"
                        (click)="chooseRouteFilter()">
                    </citxt>
                </div>
                <div class="col l3 s12 p-0">
                    <citxt
                        (cModel)="criteriaModel.Fillter = $event" 
                        [label]="'กรอง (รหัส/รายละเอียด)'"
                        [data]="criteriaModel.Fillter">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l8 s12 p-0 margin-bottom-5"></div>
                <div class="col l4 s12 p-0 text-right margin-bottom-5">
                    <cbtn 
                        [label]="'ล้าง'"
                        [color]="'red'"
                        [icon]="'clear'"
                        (click)="clearAndReloadData()">
                    </cbtn>
                    <cbtn 
                        [label]="'ค้นหา'"
                        [color]="'blue'"
                        [icon]="'search'"
                        (click)="render()">
                    </cbtn>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subroute Filter -->

    <!-- Start Subroute Table -->
    <div class="col s12">
        <div class="card-panel table-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        รายการข้อมูล
                    </span>
                </div>
            </div>
        </div>
        <div class="card-panel reset-margin-top">
            <div class="overflow-x">
                <table id="users-list-datatable" class="bordered centered striped">
                    <thead>
                        <tr>
                            <th>รหัสระบบ</th>
                            <th>เส้นทางหลัก</th>
                            <th>รหัส</th>
                            <th>รายละเอียด</th>
                            <th>คำสั่ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listModel |
                            paginate: { itemsPerPage: 10,currentPage: currentPage };
                            let idx = index">
                            <td class="min-width-100">
                                {{i.Id}}
                            </td>
                            <td class="min-width-100">
                                {{i.Route}}
                            </td>
                            <td class="min-width-100">
                                {{i.Code}}
                            </td>
                            <td class="min-width-100">
                                {{i.Description}}
                            </td>
                            <td>
                                <div class="w100">
                                    <a class="btn-floating blue cursor-pointer"
                                        (click)="setForm(i)">
                                        <i class="medium material-icons">edit</i>
                                    </a>&nbsp;
                                    <a class="btn-floating red cursor-pointer"
                                        (click)="delete(i)">
                                        <i class="medium material-icons">delete</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <div class="col l4 s12 margin-top-10">
                            <cbtn 
                            [label]="'สร้าง'"
                            [color]="'blue'"
                            [icon]="'add'"
                            (click)="addForm()">
                        </cbtn>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="text-right">
                        <pagination-controls
                            (pageChange)="currentPage = $event"
                            previousLabel="ก่อนหน้า"
                            nextLabel="ถัดไป">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Page -->

<!-- Start Add Subroute Page -->
<div *ngIf="isFormPage">
    <div class="col s12">
        <div class="card-panel card-panel-header">
            <div class="row">
                <div class="col l8 s12">
                    <span class="card-panel-header-span">
                        ทะเบียน / เส้นทางย่อย / รายละเอียด
                    </span>
                </div>
            </div>
        </div>
        <!-- Start Add Subroute Form -->
        <div class="card-panel hide-on-med-and-down reset-margin-top">
            <div class="row">
                <div class="col l4 s12">
                    <citxt
                        (cModel)="headerModel.Id = $event" 
                        [label]="'รหัสระบบ'"
                        [data]="headerModel.Id"
                        [readonly]="true">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12">
                    <citxt
                        (cModel)="headerModel.RouteDescription = $event" 
                        [label]="'เส้นทางหลัก'"
                        [data]="headerModel.RouteDescription"
                        [readonly]="true"
                        (click)="chooseRouteAddForm()">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 margin-top-minus-20">
                    <citxt
                        (cModel)="headerModel.Code = $event" 
                        [label]="'*รหัส'"
                        [data]="headerModel.Code">
                    </citxt>
                </div>
                <div class="col l4 s12 margin-top-minus-20">
                    <citxt
                        (cModel)="headerModel.Description = $event" 
                        [label]="'*รายละเอียด'"
                        [data]="headerModel.Description">
                    </citxt>
                </div>
            </div>
            <div class="row">
                <div class="col l4 s12 p-0 margin-bottom-5"></div>
                <div class="col l4 s12 p-0 text-right margin-bottom-5">
                    <cbtn 
                    [label]="'บันทึก'"
                    [color]="'blue'"
                    [icon]="'save'"
                    (click)="save()">
                </cbtn>
                    <cbtn 
                    [label]="'กลับ'"
                    [color]="'grey'"
                    [icon]="'keyboard_backspace'"
                    (click)="backToMainPage()">
                </cbtn>
                </div>
            </div>
        </div>
        <!-- End Add Subroute Form -->
    </div>
</div>
<!--End Add Subroute Page -->