<!-- style="height: 200px !important;" -->
<!-- <div class="input-field col s12 width-100"> 
    <textarea [(ngModel)]="data" (ngModelChange)="emit($event)" id="textarea1" class="materialize-textarea"></textarea>
    <label for="textarea1" [ngClass]="{ 'active': data != '' }">{{label}}</label>
</div> -->


<div class="col l4 s12 text-right" style="padding-top: 15px !important; padding-right: 0px !important;">
    <label>{{label}}</label>
</div>
<div class="col l8 s12 p-0 pl-2">
    <div class="input-field">
        <textarea [(ngModel)]="data" (ngModelChange)="emit($event)" id="textarea1" class="materialize-textarea" style="font-size: 12px !important;"></textarea>
        <!-- <label for="data" [ngClass]="{ 'active': data != '' }">{{label}}</label> -->
    </div>
</div>