<div class="col s12">
    <div class="card-panel card-panel-header">
        <div class="row">
            <div class="col l8 s12">
                <span class="col l8 s12 card-panel-header-span">
                    งานขนส่ง / สร้างใบคุมรถ
                </span>
            </div>
        </div>
    </div>
    <!-- [hidden]="isAdvanceSearch" -->
    <div class="card-panel hide-on-med-and-down mt-0px">
        <div class="row">
            <div class="col l3 s12 p-0">
                <citxt (cModel)="criteriaModel.transportNo = $event" [label]="'เลขที่ใบคุม'" [data]="criteriaModel.transportNo" [readonly]="true" (click)="chooseTransportNo()">
                </citxt>
            </div>
            <div class="col l3 s12 p-0">
                <citxt (cModel)="criteriaModel.shipToCode = $event" [label]="'ชื่อผู้รับ'" [data]="criteriaModel.shipToDescription" [readonly]="true" (click)="chooseShipTo()">
                </citxt>
            </div>
            <div class="col l3 s12 p-0">
                <citxt (cModel)="criteriaModel.shipToAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="criteriaModel.shipToAddress" [readonly]="true" (click)="chooseShipTo()">
                </citxt>
            </div>
            <div class="col l3 s12 pl-0">
                <cdp (cModel)="criteriaModel.approveDateString = $event" [label]="'Appt. Date'" [data]="criteriaModel.approveDateString">
                </cdp>
            </div>
        </div>

        <div class="row">
            <div class="col l3 s12 p-0 mtm-20">
                <citxt (cModel)="criteriaModel.vehicleDescription = $event" [label]="'ทะเบียนรถ'" [data]="criteriaModel.vehicleDescription" [readonly]="true" (click)="chooseVehicle()">
                </citxt>
            </div>
            <div class="col l3 s12 p-0 mtm-20">
                <citxt (cModel)="criteriaModel.driverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.driverDescription" [readonly]="true" (click)="chooseDriver()">
                </citxt>
            </div>
            <div class="col l3 s12 p-0 mtm-20">
                <citxt (cModel)="criteriaModel.statusDescription = $event" [label]="'สถานะ'" [data]="criteriaModel.statusDescription" [readonly]="true" (click)="chooseStatus()">
                </citxt>
            </div>
            <div class="col l3 s12 pl-0 mtm-20">
                <citxt (cModel)="criteriaModel.typeOfWorkDescription = $event" [label]="'Type of Work'" [data]="criteriaModel.typeOfWorkDescription" [readonly]="true" (click)="chooseTypeOfWork()">
                </citxt>
            </div>
        </div>

        <div class="row">
            <div class="col l3 s12 pl-0 mtm-20">
                <cdp (cModel)="criteriaModel.TransportDate = $event" [label]="'วันที่เอกสาร'" [data]="criteriaModel.TransportDate"></cdp>
            </div>
        </div>


        <div class="row">
            <div class="col l8 s12 p-0" style="margin-bottom: 5px;"></div>
            <div class="col l4 s12 p-0 text-right" style="margin-bottom: 5px;">
                <cbtn [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtn>
                <cbtn [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="read()"></cbtn>
            </div>
        </div>

    </div>
    <div class="card-panel hide-on-large-only" style="margin-top: 0px;">
        <div class="row">
            <div class="col s12">
                <citxt (cModel)="criteriaModel.transportNo = $event" [label]="'เลขที่ใบคุม'" [data]="criteriaModel.transportNo" [readonly]="true" (click)="chooseTransportNo()">
                </citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.shipToCode = $event" [label]="'ชื่อผู้รับ'" [data]="criteriaModel.shipToDescription" [readonly]="true" (click)="chooseShipTo()">
                </citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.shipToAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="criteriaModel.shipToAddress" [readonly]="true" (click)="chooseShipTo()">
                </citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.approveDateString = $event" [label]="'Appt. Date'" [data]="criteriaModel.approveDateString">
                </citxt>
            </div>

            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.xxx = $event" [label]="'ชื่อผู้ใช้งาน'" [data]="criteriaModel.xxx">
                </citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.driverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.driverDescription" [readonly]="true" (click)="chooseDriver()">
                </citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.statusDescription = $event" [label]="'สถานะ'" [data]="criteriaModel.statusDescription" [readonly]="true" (click)="chooseStatus()">
                </citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.typeOfWorkDescription = $event" [label]="'Type of Work'" [data]="criteriaModel.typeOfWorkDescription" [readonly]="true" (click)="chooseTypeOfWork()">
                </citxt>
            </div>
            <!-- <div class="col s12" style="margin-top: -10px;">
                    <cdp
                        (cModel)="criteriaModel.LastDateFrom = $event"
                        [label]="'Last Date From'"
                        [data]="criteriaModel.LastDateFrom"></cdp>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <cdp
                        (cModel)="criteriaModel.LastDateTo = $event"
                        [label]="'Last Date To'"
                        [data]="criteriaModel.LastDateTo"></cdp>
                </div> -->
            <!-- <div class="col s12 p-0" style="margin-bottom: 5px;">
                <cbtnl
                [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'"
                (click)="read()"></cbtnl>
            </div> -->

            <div class="col s12 p-0" style="margin-bottom: 5px;">
                <cbtnl [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtnl>
            </div>
            <div class="col s12 p-0" style="margin-bottom: 5px;">
                <cbtnl [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="read()"></cbtnl>
            </div>
        </div>
    </div>
</div>
<!-- {{this.viewModel|json}} -->
<div class="col s12">
    <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
        <div class="row">
            <div class="col l2 s12">
                <label class="table-panel-header-span">
                    ข้อมูล {{numberWithCommas(listModel.length)}} รายการ
                </label>
            </div>
            <div class="col l8 s12">
            </div>
        </div>
    </div>
    <div class="card-panel" style="margin-top: 0px;">
        <div style="overflow-x: auto;">
            <table id="users-list-datatable" class="bordered centered striped">
                <thead>
                    <tr>
                        <th>เลขที่ใบคุม</th>
                        <th>Shipment No.</th>
                        <th>สถานะ</th>
                        <th>Type of Work</th>
                        <th>บริษัทขนส่ง</th>
                        <th>ทะเบียนรถ</th>
                        <th>ชื่อคนขับ</th>
                        <th>เบอร์โทรศัพท์คนขับ</th>
                        <th>ประเภทรถ</th>
                        <th>Route</th>
                        <th>SubRoute</th>
                        <th>สถานที่รับสินค้า</th>
                        <th>ชื่อผู้ใช้งาน</th>
                        <th>วันที่เอกสาร</th>
                        <th>หมายเหตุ</th>
                        <th>คำสั่ง</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listModel | paginate: { itemsPerPage: 10, currentPage: p };; let idx = index">
                        <td>
                            <div class="w100">
                                <a style="cursor: pointer;" (click)="edit(i.TransportNo)">{{i.TransportNo}}</a>
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.ShipmentNo}}
                            </div>
                        </td>
                        <td class="min-width-100 reset-padding">
                            <div class="status-box {{statusTransportClassify(i.TransportStatus)}}">
                                {{i.TransportStatusDesc}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.TransportType}}
                            </div>
                        </td>
                        <td>
                            <div class="w300">
                                {{i.Transport}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.Vehicle}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.DriverFirstName}} {{i.DriverLastName}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.DriverMobile}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.VehicleType}}
                            </div>
                        </td>
                        <td>
                            <div class="w150">
                                {{i.Route}}
                            </div>
                        </td>
                        <td>
                            <div class="w200">
                                {{i.SubRoute}}
                            </div>
                        </td>
                        <td>
                            <div class="w1000">
                                {{i.ReceiveFromName}} {{i.ReceiveFromAddress}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.DriverUser}}
                            </div>
                        </td>

                        <td>
                            <div class="w100">
                                {{i.TransportDate}}
                            </div>
                        </td>

                        <td>
                            <div class="w300">
                                {{i.Remark}}
                            </div>
                        </td>
                        <td>
                            <div class="w150">
                                <a class="btn-floating blue" style="cursor: pointer;" (click)="previewReport(i)">
                                    <i class="medium material-icons">print</i>
                                </a>&nbsp;
                                <a class="btn-floating blue" style="cursor: pointer;" (click)="edit(i.TransportNo)">
                                    <i class="medium material-icons">edit</i>
                                </a>&nbsp;
                                <a class="btn-floating red" style="cursor: pointer;" (click)="delete(i.TransportNo)">
                                    <i class="medium material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s6" style="margin-top: 10px;">
                        <cbtn [label]="'สร้างใบคุมรถ'" [color]="'blue'" [icon]="'add'" (click)="create()"></cbtn>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div style="text-align: right;">
                    <pagination-controls (pageChange)="p = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป"></pagination-controls>
                </div>
            </div>

        </div>

    </div>
</div>



<div *ngIf="isPrint" id="componentID">
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%; text-align: center;">
                <img src="./assets/img/logo_printout.jpg" width="80">
            </td>
            <td style="width: 50%; text-align: center;">
                <h3>DELIVERY MANIFEST</h3>
            </td>
            <td style="width: 25%; text-align: left; font-size: 10px;">
                Print Date {{data.printDate}}
            </td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Channel :
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">

            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Orderkey Barcode# :
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                <ngx-barcode [bc-value]="data.TransportNo" [bc-display-value]="false" [bc-height]="50"></ngx-barcode>
            </td>
        </tr>
        <tr>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Carrier/Transporter Name : <br>(ชื่อขนส่ง)
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                {{data.Transport}}
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Orderkey# : <br>(เลขที่ใบส่งสินค้า)
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                {{data.TransportNo}}
            </td>
        </tr>
        <tr>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Driver Name : <br>(ชื่อพนักงานขนส่ง)
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                {{data.DriverFirstName}} {{data.DriverLastName}}
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Old Order Key : <br>(เลขที่ใบสั่งสินค้าเดิม)
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">

            </td>
        </tr>
        <tr>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Vessel/Vehicle No : <br>(ทะเบียนรถ)
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                {{data.Vehicle}}
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                MBOL# :
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">

            </td>
        </tr>
        <tr>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Create Date : <br>(วันที่สร้างใบคุม)
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                {{data.CreateDate.toString().replace('T', ' ')}}
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                Route Code : <br>(เส้นทางการจัดส่ง)
            </td>
            <td style="width: 25%; font-size: 12px; text-align: left; border: 1px solid rgb(231, 231, 231)">
                {{data.Route}}
            </td>
        </tr>
    </table>
    <br>
    <div>
        <table style="width: 100%; font-size: 10px;">
            <tr style="border: 1px solid black; background-color: gray;">
                <th style="border: 1px solid black;">TotalBills<br>(จำนวนบิล)</th>
                <th style="border: 1px solid black;">TotalCartons<br>(จำนวนสินค้า)</th>
                <th style="border: 1px solid black;">DocReturn<br>(คืนเอกสาร)</th>
                <th style="border: 1px solid black;">Customer Signature<br>(คืนเอกสาร)</th>
                <th style="border: 1px solid black;">LFL<br>(รายมือชื่อผู้จัดส่งสินค้า)</th>
            </tr>
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black; width: 50px; text-align: center;">{{data.items.length}}</td>
                <td style="border: 1px solid black; width: 150px; text-align: center;">{{data.Qty}}</td>
                <td style="border: 1px solid black; width: 150px;"></td>
                <td style="border: 1px solid black; width: 150px;"></td>
                <td style="border: 1px solid black; width: 100px;"></td>
            </tr>
        </table>
    </div>
    <br>
    <div style="min-height: 500px;">
        <table style="width: 100%; font-size: 10px;">
            <tr style="border: 1px solid black; background-color: rgb(231, 231, 231);">
                <th style="border: 1px solid black;">Invoice No.</th>
                <th style="border: 1px solid black;">Customer Code</th>
                <th style="border: 1px solid black;">Customer Name</th>
                <th style="border: 1px solid black;">Ship To</th>
                <th style="border: 1px solid black;">Weight</th>
                <th style="border: 1px solid black;">ShippedQty</th>
                <th style="border: 1px solid black;">Carton</th>
            </tr>
            <tr *ngFor="let i of data.items; let idx = index" style="border: 1px solid black;">
                <td *ngIf="i != undefined" style="border: 1px solid black; width: 50px; width: 10%; text-align: center">{{i.InvoiceNo}}</td>
                <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px; width: 10%; text-align: center;">{{i.ShiptoCode}}</td>
                <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px; width: 25%;">{{i.ShiptoName}}</td>
                <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px; width: 40%;">{{i.ShiptoAdress}}</td>
                <td *ngIf="i != undefined" style="border: 1px solid black; width: 100px; width: 5%; text-align: center">{{i.Weight}}</td>
                <td *ngIf="i != undefined" style="border: 1px solid black; width: 300px; width: 5%; text-align: center">{{i.Qty}}</td>
                <td *ngIf="i != undefined" style="border: 1px solid black; width: 150px; width: 5%; text-align: center">{{i.Uom}}</td>
            </tr>
        </table>
    </div>
    <!-- <div *ngIf="!last" style="min-height: 160px;"></div> -->
    <div>
        <p>Special Instruction / Remark : ..........................................................................................................................</p>
        <p>...........................................................................................................................................................................</p>
    </div>
    <div>
        <table style="width: 100%; border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black; width: 20%;"><br><br><br> ลงชื่อขนส่ง</td>
                <td style="border: 1px solid black; width: 20%;"><br><br><br> ลงชื่อ Checker WH</td>
                <td style="border: 1px solid black; width: 20%;"><br><br><br> ลงชื่อ Transport EP</td>
                <td style="border: 1px solid black; width: 20%;"><br><br><br> ลงชื่อผู้รับสินค้า</td>
                <td style="border: 1px solid black; width: 20%;"><br><br><br> ลงชื่อผู้รับเอกสาร</td>
            </tr>
        </table>
    </div>
    <!-- </div> -->
</div>