<div class="col s12">
    <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
        <div class="row">
            <div class="col l8 s12">
                <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                    <b>งานขนส่ง / สร้างใบคุมรถ</b>
                </span>
            </div>
        </div>
    </div>
    <!-- [hidden]="isAdvanceSearch" -->
    <div class="card-panel hide-on-med-and-down" style="margin-top: 0px;">
        <div class="row">
            <div class="col l3 s12 p-0">
                <citxt (cModel)="criteriaModel.transportNo = $event" [label]="'เลขที่ใบคุม'" [data]="criteriaModel.transportNo" [readonly]="true" (click)="chooseTransportNo()"></citxt>
            </div>
            <div class="col l3 s12 p-0">
                <citxt (cModel)="criteriaModel.shipToCode = $event" [label]="'ชื่อผู้รับ'" [data]="criteriaModel.shipToDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
            </div>
            <div class="col l3 s12 p-0">
                <citxt (cModel)="criteriaModel.shipToAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="criteriaModel.shipToAddress" [readonly]="true" (click)="chooseShipTo()"></citxt>
            </div>
            <div class="col l3 s12 pl-0">
                <cdp (cModel)="criteriaModel.approveDateString = $event" [label]="'Appt. Date'" [data]="criteriaModel.approveDateString"></cdp>
            </div>
        </div>

        <div class="row">
            <div class="col l3 s12 p-0" style="margin-top: -20px;">
                <!-- <citxt (cModel)="criteriaModel.xxx = $event" [label]="'ชื่อผู้ใช้งาน'" [data]="criteriaModel.xxx"></citxt> -->
                <citxt (cModel)="criteriaModel.vehicleDescription = $event" [label]="'ทะเบียนรถ'" [data]="criteriaModel.vehicleDescription" [readonly]="true" (click)="chooseVehicle()"></citxt>
            </div>
            <div class="col l3 s12 p-0" style="margin-top: -20px;">
                <citxt (cModel)="criteriaModel.driverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.driverDescription" [readonly]="true" (click)="chooseDriver()"></citxt>
            </div>
            <div class="col l3 s12 p-0" style="margin-top: -20px;">
                <citxt (cModel)="criteriaModel.statusDescription = $event" [label]="'สถานะ'" [data]="criteriaModel.statusDescription" [readonly]="true" (click)="chooseStatus()"></citxt>
            </div>
            <div class="col l3 s12 pl-0" style="margin-top: -20px;">
                <citxt (cModel)="criteriaModel.typeOfWorkDescription = $event" [label]="'Type of Work'" [data]="criteriaModel.typeOfWorkDescription" [readonly]="true" (click)="chooseTypeOfWork()"></citxt>
            </div>
        </div>

        <div class="row">
            <div class="col l3 s12 pl-0" style="margin-top: -20px;">
                <cdp (cModel)="criteriaModel.TransportDate = $event" [label]="'วันที่เอกสาร'" [data]="criteriaModel.TransportDate"></cdp>
            </div>
        </div>


        <div class="row">
            <div class="col l8 s12 p-0" style="margin-bottom: 5px;"></div>
            <div class="col l4 s12 p-0 text-right" style="margin-bottom: 5px;">
                <cbtn [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtn>
                <cbtn [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="read()"></cbtn>
            </div>
        </div>

    </div>
    <div class="card-panel hide-on-large-only" style="margin-top: 0px;">
        <div class="row">


            <div class="col s12">
                <citxt (cModel)="criteriaModel.transportNo = $event" [label]="'เลขที่ใบคุม'" [data]="criteriaModel.transportNo" [readonly]="true" (click)="chooseTransportNo()"></citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.shipToCode = $event" [label]="'ชื่อผู้รับ'" [data]="criteriaModel.shipToDescription" [readonly]="true" (click)="chooseShipTo()"></citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.shipToAddress = $event" [label]="'ที่อยู่ผู้รับ'" [data]="criteriaModel.shipToAddress" [readonly]="true" (click)="chooseShipTo()"></citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.approveDateString = $event" [label]="'Appt. Date'" [data]="criteriaModel.approveDateString"></citxt>
            </div>

            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.xxx = $event" [label]="'ชื่อผู้ใช้งาน'" [data]="criteriaModel.xxx"></citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.driverDescription = $event" [label]="'ชื่อคนขับ'" [data]="criteriaModel.driverDescription" [readonly]="true" (click)="chooseDriver()"></citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.statusDescription = $event" [label]="'สถานะ'" [data]="criteriaModel.statusDescription" [readonly]="true" (click)="chooseStatus()"></citxt>
            </div>
            <div class="col s12" style="margin-top: -10px;">
                <citxt (cModel)="criteriaModel.typeOfWorkDescription = $event" [label]="'Type of Work'" [data]="criteriaModel.typeOfWorkDescription" [readonly]="true" (click)="chooseTypeOfWork()"></citxt>
            </div>
            <!-- <div class="col s12" style="margin-top: -10px;">
                    <cdp (cModel)="criteriaModel.LastDateFrom = $event" [label]="'Last Date From'" [data]="criteriaModel.LastDateFrom"></cdp>
                </div>
                <div class="col s12" style="margin-top: -10px;">
                    <cdp (cModel)="criteriaModel.LastDateTo = $event" [label]="'Last Date To'" [data]="criteriaModel.LastDateTo"></cdp>
                </div> -->
            <!-- <div class="col s12 p-0" style="margin-bottom: 5px;">
                <cbtnl [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="read()"></cbtnl>
            </div> -->

            <div class="col s12 p-0" style="margin-bottom: 5px;">
                <cbtnl [label]="'ล้าง'" [color]="'red'" [icon]="'clear'" (click)="clear()"></cbtnl>
            </div>
            <div class="col s12 p-0" style="margin-bottom: 5px;">
                <cbtnl [label]="'ค้นหา'" [color]="'blue'" [icon]="'search'" (click)="read()"></cbtnl>
            </div>
        </div>
    </div>
</div>
<!-- {{this.viewModel|json}} -->
<div class="col s12">
    <div class="card-panel" style="padding: 2px; margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
        <div class="row">
            <div class="col l2 s12">
                <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px; margin-bottom: 5px;">
                    <b>รายการข้อมูล</b>
                </span>
            </div>
            <div class="col l8 s12">
            </div>
        </div>
    </div>
    <div class="card-panel" style="margin-top: 0px;">
        <div style="overflow-x: auto;">
            <table id="users-list-datatable" class="bordered centered striped">
                <thead>
                    <tr>
                        <th>เลขที่ใบคุม</th>
                        <th>Shipment No.</th>
                        <th>สถานะ</th>
                        <th>Type of Work</th>
                        <th>บริษัทขนส่ง</th>
                        <th>ทะเบียนรถ</th>
                        <th>ชื่อคนขับ</th>
                        <th>เบอร์โทรศัพท์คนขับ</th>
                        <th>ประเภทรถ</th>
                        <th>Route</th>
                        <th>SubRoute</th>
                        <th>สถานที่รับสินค้า</th>
                        <th>ชื่อผู้ใช้งาน</th>
                        <th>วันที่เอกสาร</th>
                        <th>หมายเหตุ</th>
                        <th>คำสั่ง</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listModel | paginate: { itemsPerPage: 10, currentPage: p };; let idx = index">
                        <td>
                            <div class="w100">
                                <a style="cursor: pointer;" (click)="edit(i.TransportNo)">{{i.TransportNo}}</a>
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.ShipmentNo}}
                            </div>
                        </td>
                        <td style="padding: 0 0 0 0 !important;">
                            <div class="w100" style="background-color: {{statusTransportColor(i.TransportStatus)}}; height: 42px; padding-top: 10px;">
                                {{i.TransportStatusDesc}}
                            </div>

                        </td>
                        <td>
                            <div class="w100">
                                {{i.TransportType}}
                            </div>
                        </td>
                        <td>
                            <div class="w300">
                                {{i.Transport}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.Vehicle}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.DriverFirstName}} {{i.DriverLastName}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.DriverMobile}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.VehicleType}}
                            </div>
                        </td>
                        <td>
                            <div class="w150">
                                {{i.Route}}
                            </div>
                        </td>
                        <td>
                            <div class="w200">
                                {{i.SubRoute}}
                            </div>
                        </td>
                        <td>
                            <div class="w1000">
                                {{i.ReceiveFromName}} {{i.ReceiveFromAddress}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                {{i.DriverUser}}
                            </div>
                        </td>

                        <td>
                            <div class="w100">
                                {{i.TransportDate}}
                            </div>
                        </td>

                        <td>
                            <div class="w1000">
                                {{i.Remark}}
                            </div>
                        </td>
                        <td>
                            <div class="w100">
                                <a class="btn-floating blue" style="cursor: pointer;" (click)="edit(i.TransportNo)">
                                    <i class="medium material-icons">edit</i>
                                </a>
                                <a class="btn-floating red" style="cursor: pointer;" (click)="delete(i.TransportNo)">
                                    <i class="medium material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s6" style="margin-top: 10px;">
                        <cbtn [label]="'สร้างใบคุมรถ'" [color]="'blue'" [icon]="'add'" (click)="create()"></cbtn>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div style="text-align: right;">
                    <pagination-controls (pageChange)="p = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป"></pagination-controls>
                </div>
            </div>

        </div>

    </div>
</div>