<div class="row">
    <!-- <div class="col l5 s12 p-0 text-right" style="margin-bottom: 5px;">
        <cbtn [label]="'ย้อนหลัง 24 ชม.'" [color]="'grey'" [icon]="''"></cbtn>
        <cbtn [label]="'ย้อนหลัง 7 วัน'" [color]="'grey'" [icon]="''"></cbtn>
        <cbtn [label]="'ย้อน 30 วัน'" [color]="'grey'" [icon]="''"></cbtn>
    </div> -->
    <!-- <div class="col l2 s12 p-0 text-right" style="margin-bottom: 5px;"></div> -->
    <div class="col l4 s12 p-0" style="margin-bottom: 5px; min-width: 370px;">
        <cbtn [label]="'รายวัน'" [color]="checkMode('รายวัน')" [icon]="''" (click)="selectMode('รายวัน')"></cbtn>
        <cbtn [label]="'รายสัปดาห์'" [color]="checkMode('รายสัปดาห์')" [icon]="''" (click)="selectMode('รายสัปดาห์')"></cbtn>
        <cbtn [label]="'รายเดือน'" [color]="checkMode('รายเดือน')" [icon]="''" (click)="selectMode('รายเดือน')"></cbtn>
    </div>
    <div class="col l7 s12">

    </div>
</div>
<div class="row">
    <div class="col l3 s12 p-0">
        <cdp (cModel)="criteriaModel.startDate = $event" [label]="'เลือกช่วงเวลา'" [data]="criteriaModel.startDate">
        </cdp>
    </div>
    <div class="col l3 s12 p-0">
        <cdp (cModel)="criteriaModel.endDate = $event" [label]="'จนถึง'" [data]="criteriaModel.endDate">
        </cdp>
    </div>
    <div class="col l1 s12 p-0">
        <h1>&nbsp;</h1>
    </div>
    <div class="col l3 s12">
        <cbtn [label]="'เรียกดู'" [color]="'blue'" [icon]="''" (click)="read()">
        </cbtn>
    </div>
</div>
<div class="row">
    <div class="col l3 s12 p-0 mtm-20">
        <ccb (cModel)="timerModel.autoRefresh = $event" [data]="timerModel.autoRefresh" [label]="'Auto Refresh'" (change)="autoRefresh()"></ccb>
    </div>
    <div class="col l3 s12 p-0 mtm-10">
        <citxt [class]="'text-center'" (cModel)="timerModel.displayMinute = $event" [label]="'เวลา'" [data]="timerModel.displayMinute" [readonly]="timerModel.autoRefresh"></citxt>
    </div>
    <div class="col l3 s12 mt-10px">
        นาที &nbsp; {{ showNextTime }}
    </div>
</div>
<div class="row">
    <div class="col l3 s12 pl-0" style="background-color:white;">
        <div style="text-align: center;">
            <h2>
                Fleet
            </h2>
        </div>
    </div>
    <div class="col l3 s12">
        <div style="text-align: center;">
            <h2>
                Deliveries by Country
            </h2>
        </div>
    </div>
    <div class="col l3 s12">
        <div style="text-align: center;">
            <h2>
                Delivery Status
            </h2>
        </div>
    </div>
    <div class="col l3 s12">
        <div style="text-align: center;">
            <h2>
                Deliveries by Country
            </h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col l3 s12 pl-0" style="background-color:white;">
        <div style="width: 100%; height: 200px;">
            <ngx-charts-gauge [scheme]="colorScheme" [results]="fleet" [legend]="false" [legendPosition]="legendPosition" [units]="" [showText]="true" [showAxis]="true" [legendTitle]="fleetModel.OnTheMove_Percent.toFixed(2) + '% Fleet Efficiency'" [smallSegments]="5"
                (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-gauge>
        </div>
        <div style="width: 100%; height: 70px; background-color: white; padding-left: 10px;">
            <div class="row">
                <div class="col l12">
                    {{fleetModel.OnTheMove_Percent.toFixed(2)}} % Fleet Efficiency
                </div>
            </div>
            <div class="row">
                <div class="col l6">
                    <div style="display: inline; background-color: #5AA454; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;Total Fleet</div>
                </div>
                <div class="col l6">
                    <div style="display: inline; background-color: #E44D25; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;On the Move</div>
                </div>
            </div>
            <div class="row">
                <div class="col l6">
                    <div style="display: inline; background-color: #CFC0BB; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;Pending</div>
                </div>
                <div class="col l6">
                    <div style="display: inline; background-color: #7aa3e5; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;In Maintenance</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 s12">
        <div style="width: 100%; height: 200px;">
            <ngx-charts-pie-chart [scheme]="colorScheme" [results]="deliveryByCountry" [gradient]="gradient" [legend]="false" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut" [showAxis]="true" [legendTitle]="'Percentage'" (select)="onSelect($event)"
                (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-pie-chart>
        </div>
        <div style="width: 100%; height: 70px; background-color: white; padding-left: 10px;">
            <div class="row">
                <div class="col l4">
                    <div style="display: inline; background-color: #5AA454; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;BKK</div>
                </div>
                <div class="col l4">
                    <div style="display: inline; background-color: #E44D25; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;CEN</div>
                </div>
                <div class="col l4">
                    <div style="display: inline; background-color: #CFC0BB; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;UN</div>
                </div>
            </div>
            <div class="row">
                <div class="col l4">
                    <div style="display: inline; background-color: #7aa3e5; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;LN</div>
                </div>
                <div class="col l4">
                    <div style="display: inline; background-color: #a8385d; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;US</div>
                </div>
                <div class="col l4">
                    <div style="display: inline; background-color: #aae3f5; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;LS</div>
                </div>
            </div>
            <div class="row">
                <div class="col l4">
                    <div style="display: inline; background-color: #c8f557; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;UNE</div>
                </div>
                <div class="col l4">
                    <div style="display: inline; background-color: #8eed4f; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;LNE</div>
                </div>
                <div class="col l4">
                    <div style="display: inline; background-color: #0ceef5; min-width: 50px; min-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="display: inline">&nbsp;N/A</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 s12">
        <div style="width: 100%; height: 200px;">
            <!-- <ngx-charts-linear-gauge [view]="[300, 200]" [scheme]="colorScheme" [value]="deliveryStatusModel.TotalInvoice" [units]="deliveryStatusModel.WithInTime_Percent || 0 + '%'" (select)="onSelect($event)">
            </ngx-charts-linear-gauge> -->
            <ngx-charts-advanced-pie-chart [view]="[500, 200]" [scheme]="colorScheme" [results]="deliveryStatus" (select)="onSelect($event)">
            </ngx-charts-advanced-pie-chart>
        </div>
        <!-- <div style="width: 100%; height: 70px; background-color: white; padding-left: 70px;">
            <p>
                Within time limit {{numberWithCommas(deliveryStatusModel.WithInTime || 0)}}
            </p>
            <p>
                Out of time limit {{numberWithCommas(deliveryStatusModel.OutOfTime || 0)}}
            </p>
            <p>
                Reject {{numberWithCommas(deliveryStatusModel.Reject || 0)}}
            </p>
        </div> -->
    </div>
    <div class="col l3 s12">
        <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="deliveryByCountry3" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-horizontal>
    </div>
</div>
<div class="row">
    <div class="col l6 s12 pl-0" style="background-color:white;">
        <div style="text-align: center;">
            <h2>
                Trip per Day & Outsource
            </h2>
        </div>
    </div>
    <div class="col l3 s12">
        <div style="text-align: center;">
            <h2>
                Proof of Delivery Status
            </h2>
        </div>
    </div>
    <div class="col l3 s12">
        <div style="text-align: center;">
            <h3>
                Proof of Delivery by Country
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col l6 s12" style="background-color:white;">
        <ngx-charts-bar-vertical-stacked [view]="[550, 300]" [scheme]="colorScheme" [results]="tripPerDay" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical-stacked>
    </div>

    <div class="col l3 s12">
        <div style="width: 100%; height: 200px;">
            <!-- <ngx-charts-pie-grid [view]="[300, 200]" [scheme]="colorScheme" [results]="proofDeliveryStatus" (select)="onSelect($event)">
            </ngx-charts-pie-grid> -->
            <!-- <ngx-charts-linear-gauge [view]="[300, 200]" [scheme]="colorScheme" [value]="proofDeliveryStatusModel.TotalInvoice" [units]="proofDeliveryStatusModel.WithInTime_Percent || 0 + '%'" (select)="onSelect($event)">
            </ngx-charts-linear-gauge> -->
            <ngx-charts-advanced-pie-chart [view]="[500, 200]" [scheme]="colorScheme" [results]="proofDeliveryStatus" (select)="onSelect($event)">
            </ngx-charts-advanced-pie-chart>

        </div>
        <!-- <div style="width: 100%; height: 70px; background-color: white; padding-left: ß70px;">
            <p>
                Within time limit {{numberWithCommas(proofDeliveryStatusModel.WithInTime || 0)}}
            </p>
            <p>
                Out of time limit {{numberWithCommas(proofDeliveryStatusModel.OutOfTime || 0)}}
            </p>
            <p>
                Reject {{numberWithCommas(proofDeliveryStatusModel.Reject || 0)}}
            </p>
        </div> -->
    </div>
    <div class="col l3 s12">
        <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="proofDeliveryByCountry3" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-horizontal>
    </div>
</div>