/* You can add global styles to this file, and also import other style files */


/* * {
    font-family: Arial, sans-serif;
    font-size: 1rem;
} */

html,
body {
    height: 100%;
}

body {
    font-size: 12px !important;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #FF7514;
}

span {
    font-size: 12px !important;
}

a {
    font-size: 12px !important;
}

label {
    font-size: 12px !important;
}

input {
    font-size: 12px !important;
    color: #9e9e9e !important;
}


/* .btn { padding: 0 1rem !important; } */

table.bordered th,
table.bordered td {
    height: 50px;
    padding: 5px !important;
    border: 1px solid rgba(0, 0, 0, .12) !important;
}

td,
th {
    display: table-cell;
    padding: 5px 5px;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mat-calendar-content {
    padding: 0 18px 8px 18px !important;
    outline: none !important;
}

.center {
    text-align: center;
    border: 3px solid green;
    width: 30px;
}

.w10 {
    text-align: center;
    width: 10px;
}

.w20 {
    text-align: center;
    width: 20px;
}

.w30 {
    text-align: center;
    width: 30px;
}

.w50 {
    text-align: center;
    width: 50px;
}

.w75 {
    text-align: center;
    width: 75px;
}

.w100 {
    text-align: center;
    width: 100px;
}

.w150 {
    text-align: center;
    width: 150px;
}

.w200 {
    text-align: center;
    width: 200px;
}

.w250 {
    text-align: center;
    width: 250px;
}

.w300 {
    text-align: center;
    width: 300px;
}

.w350 {
    text-align: center;
    width: 350px;
}

.w400 {
    text-align: center;
    width: 400px;
}

.w450 {
    text-align: center;
    width: 450px;
}

.w600 {
    text-align: center;
    width: 600px;
}

.w1000 {
    text-align: center;
    width: 1000px;
}

p {
    margin: 0px 0px !important;
}

.cut-text {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0px !important;
}

.header-icon {
    position: relative;
    float: left;
    font-size: 2.5em !important;
}


/* DDPM */

.background-sidebar {
    background: #4DACE4 !important;
}

.background-header {
    background: linear-gradient(45deg, #4DACE4, #4DACE4) !important;
}

.background-footer {
    background: linear-gradient(45deg, #4DACE4, #4DACE4) !important;
}

.sidenav li a.active {
    margin: 0;
    color: #fff;
    background: linear-gradient(45deg, #4DACE4, #4DACE4) !important;
    /* box-shadow: 3px 3px 20px 0 rgba(255, 110, 64, .5); */
    box-shadow: 3px 3px 20px 0 rgba(105, 105, 105, .5) !important;
}


/* DOPA */


/* .background-sidebar {
    background: #04385D !important;
}
.background-header {
    background: #04385D !important;
}
.background-footer {
    background: #04385D !important;
}
.sidenav li a.active {
    margin: 0;
    color: #fff;
    background: #04385D !important;
    box-shadow: 3px 3px 20px 0 #04385D !important;
} */

.ct-menu-btn {
    padding-left: 40px !important;
}

.card-panel-header {
    background-color: lavender;
    /* margin: .5rem 0 1rem 0; */
    padding: 10px;
    transition: box-shadow .25s;
    border-radius: 2px;
    margin-bottom: 0px;
    vertical-align: text-top;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card-panel-header span {
    /* position: relative; 
    float:left;  */
    font-size: 1em;
    padding-left: 10px;
    padding-top: 10px;
}

.card-panel-body {
    background-color: #fff;
    /* margin: .5rem 0 1rem 0; */
    padding: 10px;
    transition: box-shadow .25s;
    border-radius: 2px;
    margin-bottom: 0px;
    vertical-align: text-top;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

/* ------------Start Tracking Status--------- */
.wait-driver-license {
    height: 120px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: #B6B6B6 !important;
}

.pending-approval, .wait-driver-receiving {
    height: 120px !important;
    margin-right: 10px !important;
    background-color: #B6B6B6 !important;
}

.during-receiving {
    height: 120px !important;
    margin-right: 10px !important;
    background-color: #E7E884 !important;
}

.fs-20-w-700 {
    font-size: 20px !important;
    font-weight: 700 !important;
}

.p-10 img {
    margin: 5px;
    padding: 10px!important;
    box-shadow:0 5px 5px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

/* -------------End Tracking Status---------- */
.material-icons {
    font-family: 'Material Icons';
}

.-mt15 {
    margin-top: -15px !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* OHM css Clean code. */
.card-panel-header, .table-panel-header  {
    padding: 2px !important;
    margin-bottom: 0px !important;
    background-color:lavender !important;
    vertical-align: text-top !important;
}

.card-panel-header-span, .table-panel-header-span {
    position: relative !important;
    float: left !important; 
    font-size: 1em !important;
    font-weight: 800;
    color: #6B6F82 !important;
    padding-left: 20px !important;
    padding-top: 10px !important;
    margin-bottom: 5px !important;
}

.overflow-x {
    overflow-x: auto !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.reset-padding {
    padding: 0px !important;
}

.padding-left-20 {
    padding-left: 20px !important;;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;;
}

.reset-margin-top {
    margin-top: 0px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-minus-10 {
    margin-top: -10px !important;
}

.margin-top-minus-20 {
    margin-top: -20px !important;
}

.margin-left-130 {
    margin-left: 130px !important;
}

.margin-left-225 {
    margin-left: 225px !important;
}

.min-width-20 {
    min-width: 20px !important;
}

.min-width-30 {
    min-width: 30px !important;
}


.min-width-40 {
    min-width: 40px !important;
}

.min-width-60 {
    min-width: 30px !important;
}

.min-width-100 {
    min-width: 100px !important;
}


.min-width-120 {
    min-width: 120px !important;
}

.min-width-150 {
    min-width: 150px !important;
}

.min-width-200 {
    min-width: 200px !important;
}

.min-width-250 {
    min-width: 250px !important;
}

.min-width-300 {
    min-width: 300px !important;
}

.min-width-600 {
    min-width: 600px !important;
}

.min-width-800 {
    min-width: 600px !important;
}

.custom-button {
    margin-right: 10px !important;
    margin-bottom: 7px !important;  
}

.custom-button-icon {
    position: relative !important;
    float:left !important; 
    font-size: 1.5em !important; 
    margin-right: 5px !important;
}

.mat-typography h2.login {
    margin: 0px !important;
}

.ml-4.version-span {
    position: relative !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    margin-left: -10px !important;
    font-size: 1.4em !important;
    text-shadow: 2px 2px white, 1px 1px #333
}

.status-color-C {
    background-color: #E16E5B;
}

.status-color-D, .status-color-L {
    background-color: #F7E884;
}

.status-color-O {
    background-color: #B6B6B6;
}

.status-color-P, .status-color-R {
    background-color: #79D58B;
}

.status-color-S, .status-color-H {
    background-color: #66A5D9;
}

.status-color-W {
    background-color: #B6B6B6;
}

.status-color-F {
    background-color: #EBB146;
}
.status-color-M {
    background-color: #FF9800;
}

.status-box {
    height: 42px !important; 
    padding-top: 10px !important;
}

/* show scrollbar always */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}